<span style='color: #000' title='Frames'>   113</span><span style='color: #009' title='Memory'>  45056.00 KB</span><span style='color: #900' title='Time'>    235.65 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />