/* Print My Menu */

@page {
  size: A4;
}

* {
	float: none !important;
}

body {
  background: #FFF;
  
}

table {float: none !important; }
div { float: none !important; }

#recipesdetail > div {
	float: none !important;
}
  
.stroked{ display:none; }

#shoppinglist,
#shoppinglist span,
#shoppinglist b,
#shoppinglist input,
#shoppinglist label,
#shoppinglist textarea {
	font-size:10px;
	line-height:14px;	
}

.grv-widget-tag {
	display: none !important;
}

.mymenu-addrecipe-wrapper {
	display:none;
}

.overlay, .overlay-2 {
	display:none;
}

.checkPrint-label2 {
	display: none;
}

.wlrw_credit {
	display: none;
}

.tab-pane {
	padding: 30px;
}

.ingredientTitle {	 
	font-size:18px;
	margin-top: 20px;
	line-height: 40px;
}

.ingredientTitle span {	 
	font-size:18px;
	line-height: 40px;
}

.logogroup {
	float: left;
	margin-right:10px;
}

.ingredient_list_ingredient {
	font-size: 10px;
}

.tabtitle-print, .print-logo, .img-print {
	display:block;
}

h1.tabtitle-print {
	padding-top: 20px;
	color:#97bd41 !important;
	margin-top:-50px;
	margin-bottom:20px;
	font-size: 16px;		
	text-align: right;
	font-weight:bold;
	text-transform:uppercase;
	font-family:'Muli-Regular' !important;
	height:50px;
	border-bottom:1px solid #dddddd;
}

.tab-content {
	text-align: left;
}



a:link:after, a:visited:after {
    content: "";
}

.recipe-info-div{ float:left; }
  
#header-right,
.header_boxes_wrapper,
.nav, 
.nav.buttons,
.login-container,
.thin-col, 
#nav-footer, 
#follow, 
.entry-header, 
.recipe-add-photo, 
.recipe-photo-count, 
.share_links, 
.recipe-print-link, 
#comments, 
embed, 
#favescol-recipes, 
.shopping-list-links, 
.copyright, 
.msgBox, 
.recipe-tools-top.gray, 
.recipress_recipe .panel .recipe_actions,
.category-banner, 
.recipeType, 
/* .recipe-add-note, */
.nutrition,
input, 
.recipe-add-note h2,
.recipe-add-note textarea,
.recipe-add-note .addnote,
.recipe-tools-top.align-left, 
.originalvalue, 
.yield,
.adjust, 
.operations, 
.noprint,
.footer,
.mobile_nudge,
.mobile_nav,
#picture_navigator .preview,
#picture_navigator .recipe_preview,
#picture_navigator .meta,
.social_small_wrapper,
.prev_next_wrapper,.banner-bottom,
.entry-content iframe,.logo,#wpadminbar
{
  display:none !important;
}
.saved_menus{ height:auto !important; }
.recipe-add-note h3 { display: none; }
.col_default { display: none; }

.forprint{ display:block !important; }
.inline-forprint{ display:inline !important; }

/* some items need to be hidden without the !important, so javascript can appropriately override */
.adjusted_servings { display: none; }

#header {
	border-bottom: 1px dashed #BBB;
	margin-bottom: 10px;
}
.logo_wrapper {
	display: none;
	float: none;
	margin: 0 auto;
}

/*.logoprint { content: url(../images/logo.png); margin: 15px auto; display: block; }*/
.logoprint { margin:0!important;  display: block !important; text-align:left; height:80px;}

.logoprint img { height:100%; }
.inner-banner{  margin:0px !important; top:0px !important;  }

.hrecipe .panel {
	float: right;
	padding: 0 5px;
	text-align: center;
	width: 240px;
}

.recipe-add-note {
	text-align: left;
}
.recipe-add-note textarea {
	background: #FFF;
	border: 0;
	margin: 0;
	height: auto;
	padding: 0;
	resize: none;
	width: 100%;
}

h3 {
	margin: 10px 0;
	font-size:14px;
}
a {
	border: none !important;
	color: inherit;
	text-decoration: none !important;
}
.recipe-tools-top {
	clear: left;
	font-size: 142px;
	line-height: normal;
	text-align: left;
	margin-bottom: 8px;
	display: inline-block;
}
.recipe-tools-top > div {
	display: inline-block;
	margin: 0 3px;
	text-align: left;
}
.prepTime, .recipe-time {
	border: 0;
}
.prepTime, .cookTime, .totalTime, .recipe-difficulty-container {
	width: 80px;
	max-width: 129px;
}
.prepTime, .totalTime, .cookTime, .recipe-time, .recipe-difficulty-container {
	border-left: 1px solid #8E8E8E;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 10px;
	vertical-align: top;
}
.recipe-tools-top .title {
	font-weight: bold;
	text-transform: capitalize;
}
.recipe-difficulty {
	margin: 3px 0 0 10px;
}
.recipe-difficulty-container {
	text-align: center !important;
	width: 105px;
	display: inline-block;
}
.recipe-difficulty img {
	margin-left: 5px;
}
h1 {
	margin: 10px 0;
}
h2 {
	margin: 5px 0;
}
.yield .newvalue {
	margin: 0;
}
p {
	margin: 5px 0;
}
h2 {
	font-size: 16px;
}
h2.fn {
	float: left;
	font-size: 16px;
}

ul {
	list-style-type: none;
	padding: 0;
}
ul, ol {
	margin: 5px 0;
}
/*************** calendar *****************/
.my-calendar-month,
#jd-calendar .category-key,
#jd-calendar h3 .mc-toggle,
.my-calendar-table .no-events,
.my-calendar-table thead{
  display: none;
}
/* kind of hacky to get my css to be more specific than the 
   original author's, in order to override his default highlight */
#jd-calendar .my-calendar-table .current-day,
#jd-calendar .my-calendar-table .weekend .mc-date{ 
  background: inherit;
  color: inherit;
}
#jd-calendar .my-calendar-table .current-day .mc-date, 
#jd-calendar .my-calendar-table .weekend .mc-date{ 
  background: none repeat scroll 0 0 #F6F6F6;
}
.my-calendar-table a:link{ color: black; }
.my-calendar-table .event-title { font-weight: normal; }
/*******************************************/

/****** myRecipes *******************/
#ingredient_list .col_amount:before {
  content:"___ ";
}
#ingredient_shopping_list.thin-col, #favescol-menus.thick-col { display: block !important; float: left !important; }
.faves-col{ float: left; }

#myMenusInfo,
#favescol-menus > a,
/* #favescol-menus > .info, */
#favescol-menus .photo,
/* #favescol-menus .info :not(.title), */
#favescol-menus .menu:not([selected=selected]),
#favescol-menus .placeholder,
#favescol-menus .menu_actions
 {
  display: none;
}

.menu .listlink { font-weight: bold; }

#ingredient_shopping_list,
#favescol-menus {
  width:100%;
  padding: 10px;
      column-count: 2;
     column-gap: 2em;
     column-rule: thin solid black;
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */	 
}
/***********************************/

/********** Footer ****************/
.learn_more { margin-top: 10px; font-style: italic; }
/***********************************/

/*********** Menus ******************/
#picture_navigator .wrapper span { display: block; }
/************************************/

/********** Recipe images **********/  /* not tested */
.newSlide:first-child{ -webkit-print-color-adjust:exact; }
/**********************************/

#menu_files, #prwi, .menu_shr, #addi_items, .info, .shopping_list_recipe
 {
  display: none;
}
.print_recipe_instr
{
display:block !important;
} 
 #prt_recipe
{
display:none;
} 

.print_recipe_image
{
display:block !important;
} 
.print_recipe_ingret
{
display:block !important;
} 
#menu_change
{
display:none;
}


.auth_info img{ width:80px; height:80px; }
/*.recipe-cat-listing,.cat-title{display:none; }*/

#favorites_wrapper.row {
  margin-left: 0px;
  margin-right: 0px;
}

/*Auto Grow Text Area Only on Print*/
.textareaadditem, .col_amount, #ui-datepicker-div { 
       display:none;
} 
	
.textareaadditemprint { 
	display: block;
	overflow: visible;
	white-space: pre;
	white-space: pre-wrap;
	
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 3px; 	
	
	border: 3px solid darkgray;
	padding:5px;
} 	

.col_amount_print{
	display: inline;
}

.inner-banner{
	display:none;
}

#saveweek {
	display:none;
}

.tab-content > .tab-pane {
	display: block !important; 
	opacity: 1 !important;
}

#options {
	display:none !important;
}

.error-warning, #options *, .logo *{
	display: none;
}

.pagebreak {
	page-break-before: always;
}

.pagebreakafter {
	page-break-after: always;
}

.notprinted .pagebreak,
.notprintedparent .pagebreak {
	page-break-before:avoid;
}

.checkPrint-label {
	display: none;
}

#recipesdetail-print {
	display: block;
}

#recipesdetail-stage{
	display:none !important;
}

.addrecipe-rest {
	height: auto;
}

.addrecipe-header{
	margin-top: 20px;
}

.nonprint{
	display:none;
}

.notprinted {
	display:none !important;	
}

.tab-content > .tab-pane.notprinted {
	display:none !important;	
}

.tab-content > .tab-pane.notprintedparent {
	display:none !important;	
}



/* BEGONE EVIL */
#wizard-lightbox {
	display: none;
}
	
.recipe-header,
.recipe-remove,
.recipe-hover {
	display:none;	
}

.container {
	width:100%;
	margin: 0; padding: 0;	

}

body {
	width:100%;	
	font-size:12px !important;
}

a:after {
	content: " [" attr(href) "] ";
}

.recipe-content {
	font-size:10px;	
	margin:0;
	padding:5px;
}

.notes-remove {
	display:none;	
}

.notes-handle {
	width:20px;
	background-image:url(../img/notes.png) !important;	
	background-size:contain !important;
	background-position:center center !important;
	background-color:#f4f4f4 !important;
	display:none;
}

.notes {
	border-left:15px solid #777777;	
}

.notes-content {
	font-size:10px;
	margin:0;
	padding:5px 5px 5px 5px;	
}

.textareaadditem {
	font-size:10px;	
}

.header {
	display:none;	
}

.mymenu-day {
	padding:0;
	border:none;	
}

.mymenu-stage {
	margin-right:0;
	min-height:40px;	
}

.tab-pane > img {
	text-align:left;
	height:80px;
	margin-left:0;
}

#recipesdetail-stage {
	border-top:1px solid #dddddd;	
}

.savewrapper {
	display:none;
}

.addrecipe-topmeta {
	font-size:10px;	
	margin-bottom: 12px;
}

.addrecipe-title {
	font-weight:bold;
	font-size:16px;	
	margin-top: 5px;
    margin-bottom: 5px;	
}

.addrecipe-cat {
	font-size:14px;
	color:#888888;	
	letter-spacing:1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.addrecipe-rest {
	font-size:10px;
	line-height:14px;	
}

#recipesdetail-accordion .addrecipe-header {
	padding:5px;	
}

#recipesdetail-accordion .addrecipe-rest {
	padding:0px;	
	margin-bottom:20px;
}

.recipe-thumbnail img {
	display:block;	
}

.addrecipe-thumbnail {
	width:85px;
	height:85px;	
}

.addrecipe-rest br,
.addrecipe-topmeta br {
	display:block;	
}

.print-bold {
	font-weight:bold;	
	font-size:12px;
}

.print-bold-top {
	font-weight:bold;
	padding-top:5px;
	font-size:12px;	
}

#global-announcement-stepbystep {
	margin-top:0;
	margin-bottom:10px;
	padding:10px;	
}

#global-announcement-stepbystep p {
	font-size:10px;	
}

#step_list th,
#step_list td{
	font-size:10px;	
}

table.dataTable tbody th, table.dataTable tbody td {
	padding:5px;
	line-height:14px;	
}

table.dataTable, table.dataTable th, table.dataTable td {
	box-sizing:border-box;
}

table.dataTable thead th, table.dataTable thead td {
	padding:5px;
}

#ingredient_list h3 {
	font-size:12px;
	text-transform:uppercase;	
}

.textareaadditemprint {
	border:1px solid #ddd;	
}

h4.tabtitle-print {
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;	
}

.mtsnb {
	display: none;
}

.wprm-nutrition-label {
	display: flex !important;
	flex-flow: row wrap !important;
}

.nutrition-title, .nutrition-recipe, .nutrition-serving {
	flex: 1 0 100% !important;
}

.nutrition-item:after {
	content: " | " !important;
	white-space: pre;
}

.nutrition-sub-item:after {
	content: " | " !important;
	white-space: pre;
}

.nutrition-percentage:before {
	content: ", " !important;
	white-space: pre;
}

.nutrition-line {
	display: none !important;
}

.wprm-nutrition-label {
	max-width: 700px !important;
}

.wprm-nutrition-label .nutrition-item, .wprm-nutrition-label .nutrition-sub-item, .nutrition-warning {
	border-top: 0px !important;
}

.wprm-nutrition-label .nutrition-sub-item {
	margin-left: 0px !important;
}

.wprm-nutrition-label .nutrition-warning {
	flex: 1 1 100%;
   margin-top: 0px;
}

.nutrition-item:nth-child(7) {
	display: none !important;
}

.nutrition-recipe {
	flex: 1 1 auto !important;
   width: 110px !important;
}

.nutrition-serving {
	flex: 1 1 75% !important;
	padding-top: 1px !important;
}