@media (max-width: 1200px) {
	
	.searchrecipe-wait {
		width:880px;	
	}
	
	#addmenu {
		clear:both;	
		margin-bottom:22px;
	}
	
	.lightbox {
		width:970px;
		/*height:654px;
		margin-top:-327px;	*/
		height:574px;
		margin-top:-287px;
	}
	
	#searchrecipe-input, #addmenu-input, #editmenu-input {
		width:671px;	
		margin-bottom:0px;
	}
	
	#searchrecipe-input {
		/*width:441px;*/
		width:100%;	
	}
	
	#addcard-tabs .tab-pane {
		padding:15px 15px;	
	}
	
	#addmenu-lightbox #addcard-tabs .tab-pane {
		padding:20px 50px;	
	}
	
	.searchrecipe {
		width:166px;
		height:166px;
		margin-bottom:10px;	
		margin-right:10px;
		
		width:215px;
		height:215px;
	}
	
	.paging-wrapper {
		margin-top:10px;
		margin-right:30px;	
	}
	
	#searchrecipe-message {
		display: none;
		height:40px;
		line-height:40px;
	}
	
	.searchrecipe-wait {
		width:880px;	
		height:350px;
	}
	
	#createmenu_selectDate {
		width:250px;	
	}
	
	#addmenu-submit {
		margin-bottom:0;	
	}
	
	#addmenu-stage, #editmenu-stage {
		height:372px;	
	}
}

@media (max-width:1200px) {
	#searchrecipe-stage {
		height:370px;
	}
}

@media (max-width: 997px) {
	
	.lightbox {
		width:767px;
		height:450px;
		margin-top:-225px;
	}
	
	#addcard-tabs .nav > li {
		/*width:200px;	*/
		width:auto;
	}
	
	#searchrecipe-input, #addmenu-input, #editmenu-input {
		width:488px;	
	}
	
	#searchrecipe-input {
		/*width:258px;	*/
		width:100%;
	}
	
	.searchrecipe {
		width:164px;	
		height:164px;
	}
	
	#searchrecipe-stage {
		height:248px;
	}
	
	#favoriterecipes-stage {
		height:280px;	
		
		height:362px;
	}
	
	#addcard-tabs .tab-pane {
		/*padding:20px 10px 20px 40px;	*/
		padding:15px;
	}
	
	#addmenu-lightbox #addcard-tabs .tab-pane {
		padding:20px 40px;	
	}
	
	.paging-wrapper {
		margin-right:30px;	
	}		
		
	.searchrecipe-wait {
		width:690px;	
		height:225px;
		padding-top:150px;
	}
	
	#addmenu-stage,
	#editmenu-stage {
		height:250px;	
	}
	
	.addmenu-wait,
	.editmenu-wait {
		width:650px;	
		height:225px;
		padding-top:150px;
	}
	
	#createmenu_selectDate {
		width:180px;	
	}
}

@media (max-width: 767px) {	
	.addcard,
	#addmenu {
		/*display:none;	*/
	}
	
	#addmenu {
		margin-bottom:10px;	
	}
	
	#print {
		clear:both;
		/*margin-left:10px !important;*/
	}
	
	#readme {
		margin-bottom:10px;	
	}
	
	#menuname-input-wrapper {
		padding-left:15px;	
	}
	
	#menupublishdate-input-wrapper {
		padding-right:15px;	
	}
	
	#menuname-input,
	#diet-input	{
		margin-bottom:20px;
		margin-right:0;	
	}
	
	.ui-datepicker {
		width:13em !important;	
	}
}

@media (max-width: 767px) {	
	#extratab-wrapper {
		margin-bottom:15px;	
	}	
	
	.lightbox,
	.lightbox-2 {
		width:auto;	
		height:100%;
		top:0;
		margin-top:0;
		font-size:13px;
	}
	
	#loadcustommenu-lightbox {
		width:auto;	
	}
	
	#loadcustommenu-tabs .nav > li {
		width:190px;	
	}
	
	#loadcustommenu-tabs .nav > li > a {
		font-size: 13px;
		line-height: 56px;
		padding-left: 15px;
		text-align: left;
	}
	
	#loadcustommenu-stage {
		height:380px;
	}
	
	.custommenu-wrapper {
		text-align:left;	
	}
	
	.admin-bar .lightbox,
	.admin-bar .lightbox-2 {
		top:56px;	
	}
	
	#addcard-tabs .nav-tabs {
		padding-top: 10px;
		padding-right:45px;	
	}
	
	#addcard-tabs .nav > li {
		width:100%;	
		height:30px;
		padding-left:0px;
	}
	
	#addcard-tabs .nav > li > a {
		line-height:30px;
		text-align:left;
		padding-left:15px;
		font-size:13px;
	}
	
	#addcard-tabs .nav > li.lightbox-close {
		float:none;
		position:absolute;
		top:0;
		right:0;
		width:45px;	
		padding-top:36px;
	}
	
	.page-template-template-mymenucreator #addcard-tabs .nav > li.lightbox-close {
		padding-top:7px;	
	}
	
	#addcard-tabs .tab-pane {
		padding:15px;	
	}
	
	#searchrecipe-cat {
		width:100%;
		height:30px;
		padding-left:5px;
		margin-bottom:5px;
		margin-right:0;
		font-size:13px;
		background-size:15px 12px;
	}
	
	#searchrecipe-input, #addmenu-input, #editmenu-input {
		width:100%;	
		height:30px;
		line-height:30px;
		margin:0 0 5px 0;	
		padding:0 8px;
		font-size:13px;
	}
	
	#searchrecipe-submit, #addmenu-submit, #editmenu-submit {
		width:100%;
		height:30px;
		line-height:30px;
		padding:0;
		font-size:13px;
	}
	
	.searchrecipe-stage {
		/*height:150px;	
		overflow-y:scroll;
		background-color:#dddddd;*/
		background-image:url(images/arrow.png);
		background-repeat:no-repeat;
		background-position:right center;
	}
	
	.lightbox .nav-numbered {
		line-height:25px !important;	
		height:25px;
		width:30px;
		font-size:10px;
	}
	
	.paging-wrapper {
		margin-right:0;	
	}
	
	.searchrecipe {
		height:150px;
		/*width:200px;*/
		width:100%;
		margin-right:0px;
	}
	
	.lightbox-2-header {
		position:relative;
	}
	
	.lightbox-2-title {
		width:auto;
		font-size:13px;
		padding:5px 50px 5px 15px;
	}
	
	.inner-lightbox-close {
		float:none !important;
		position:absolute;
		top:0;
		right:0;
		width:50px !important;
		background-position:-5px 0;
	}	
	
	.lightbox-2-content {
		height:300px;
		overflow-y:scroll;	
		width:auto;
	}
	
	.addrecipe-thumbnail {
		float:none;
		width:100%;	
		background-position:center;
	}
	
	.addrecipe-topmeta {
		padding-left:0;	
	}
	
	.searchrecipe-addbutton {
		/*background-position:center -15px;	*/
	}
	
	#searchrecipe-formitself,
	#editmenu-formitself {
		padding:0;	
	}
	
	#searchrecipe-cat {
		position:static;	
	}
	
	#searchrecipe-submit, #addmenu-submit, #editmenu-submit {
		position:static;	
	}
	
	.addrecipe-rest {
		height:auto;
		overflow:hidden;	
	}
	
	
	#searchrecipe-stage {
		height:200px;
	}
}