body {
	background-color:#eeeeee;	
}

#thefixedBar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    background: #97be41 none repeat scroll 0% 0%;
    width: 100%;
    box-shadow: 0 0 10px #666;
    height: 130px;z-index:2
}


#thefixedBarWrap {
    max-width: 1170px;
    margin: 0 auto;
}


#thecounterWrap {
    padding: 10px 0 0;
    margin: -35px auto 0 auto;
    position: relative;
    width:1170px;
    text-align: center;
    font-family: 'Open Sans';
   
}

#addrecipe-stage{
	overflow:auto;
}

#thecounterTitle {
    color: #fff;
   font-size: 34px; font-weight:300; text-transform:uppercase;
    padding: 40px 0 0;
    float: left;
    margin: 10px 0 0 0;
    width: 670px;
    line-height: 1;
    position: relative;
}


#themoveitleft {
    float: left;
    position: relative;
    width: 500px;
    margin: 0;font-weight:300; text-transform:uppercase;
}

p.counterDesc {
    color:#ffffff;
}

#cntdwn {
	display: inline-block;
}

.counterWrap {
	float: left;
	font-size: 30px;
	line-height: 20px;
	padding: 12px 10px;
	text-align: center;
	display: inline-block;margin-top:20px; position:relative;
}


.colon {
	font-size: 15px;
	font-weight: bold;
	padding: 7px 3px 0;
	line-height: 15px;float: left;
}

.counterLabel {
	font-size: 34px;
	text-transform: lowercase;margin-top:20px;
}

.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}

.body-wrapper {
	background-color:#ffffff;	
	padding-left:0;
	padding-right:0;
}

.header {
	position:relative;	
}

.clear {
	clear:both;	
}
.centerthis {padding:20px 0;position:relative;margin:0 auto;width:834px;}

.logo {
	width:200px;
	float:left;
	height:87px;	
	margin-left:70px;
	background-image:url(../img/logo.png);	
	background-position:center center;
	background-repeat:no-repeat;	position:relative; margin-top:50px;
}
.pressbanner {
	width:100%;
	height:100px;	
		margin-bottom:25px;
	background-image:url(../img/pressbanner.jpg);	
	background-position:center center;
	background-repeat:no-repeat;	
	background-size:contain;
	border-top: 3px solid #97bd41;
  	border-bottom: 3px solid #97bd41;
}

.pressbanner2 {
	width:100%;
	height:100px;	
	margin-bottom: -30px;
	margin-top: 30px;
	background-image:url(../img/pressbanner2.png);	
	background-position:center center;
	background-repeat:no-repeat;	
}

.menu-wrapper {	
	padding-right:50px;
	font-family:Vidaloka, serif;
	font-size:25px;
	padding-top:80px;

	text-align:right;
}

.menu {
	display:inline-block;
	padding-left:18px;
	padding-right:18px;
	border-right:1px solid #bbbbbb;
	cursor:pointer;
	height:30px;
	line-height:30px;
}

.menu.six a { color:#FDC68A; }
.menu.five a { color:#8493CA; }
.menu.four a { color:#97bd41; }
.menu.three a { color:#ff861d; }
.menu.two a { color:#ff7b7b; }
.menu.one a { color:#c487fd; }

.menu:last-child {
	border-right:0;	
	padding-right:0;
}

.showcase {
	width:100%;	
	min-height:500px;
	overflow:hidden;
	position:relative;
	padding-bottom:50px;
}

.try {
	border-top:5px solid #97bd41;
	padding-top:100px;
	padding-left:70px;
	padding-right:70px;
	padding-bottom:50px;
	width:100%;
}

.leftbox {
	background-image:url(../img/service.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding-left:0;
	padding-right:0;
}

.leftbox img {
	opacity:0;
	filter:alpha(opacity=0);	
	max-width:100%;
	height:auto;	
}

.try-content {	
	padding-left:30px;
	padding-right:30px;
}

.try-inner {
}

.try-title {
	font-family:Vidaloka, serif;
	font-size:40px;
	color:#757575;
	text-align:center;	
}

.try-subtitle {
	color:#ff7b7b;	
	font-family:Vidaloka, serif;
	font-size:22px;
	text-align:center;	
}

.subbox {
	border:1px solid #dddddd;
	padding:30px 70px;
	margin-top:20px;
}	

.subbox-button-wrapper {
	text-align:center;	
}

.subbox-button-wrapper .try-button {
	margin-right:0;	
	margin-bottom:30px;
	
}

.subbox-button-wrapper1 {
	text-align:center;	float:right;
}

.subscribesection {margin-bottom:20px; position:relative; height:50px}

#sub1 label{
	font-family:'Open Sans';
	font-size:20px;
	font-weight:300;
	color:#757575;	
	float:left; width:380px;
	padding-top:8px;
}

.subscribesection a {position:relative; }

.try-button1 {
	padding:10px;
	background-color:#ff861d;
	color:#ffffff;
	text-align:center;vertical-align:middle;
	border-bottom:4px solid #e56600;
	font-family:'Open Sans';
	font-size:22px;
	font-weight:300;
	cursor:pointer; 
        height:45px;width:100px; position:relative;
}

.try-button1 a {text-decoration:none !important;color:#fff !important;position:relative;}

.greenbold {
	color:#97bd41;
	font-weight:bold;	
}

.greenitalic {
	color:#97bd41;
	font-style:italic;
	font-size: 18px;
}

#sub label{
	font-family:'Open Sans';
	font-size:20px;
	font-weight:300;
	color:#757575;	
	margin-left:20px;
	margin-bottom:20px;
}

.iradio_minimal {
	width:30px;
	height:30px;	
	margin-top:-8px;
}

.iradio_minimal {
    background-position: -160px 0;
}
.iradio_minimal.hover {
	background-position: -192px 0;
}
.iradio_minimal.checked {
	background-position: -224px 0;
}
.iradio_minimal.disabled {
	background-position: -256px 0;
	cursor: default;
}
.iradio_minimal.checked.disabled {
	background-position: -288px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .iradio_minimal {
        background-image: url(minimal/minimal@2x.png);
        -webkit-background-size: 320 32px;
        background-size: 320px 32px;
    }
}

.rightbox {
	background-image:url(../img/slowcooker.png);
	background-repeat:no-repeat;
	background-size:cover;

	padding-left:0;
	padding-right:0;
}

.rightbox img {
	opacity:0;
	filter:alpha(opacity=0);	
	max-width:100%;
	height:auto;
}
	
.showcase img {
	/*max-width:100%;*/
	height:100%;	
}

.showcase-overlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.showcase-title {
	font-family:Vidaloka, serif;
	color:#97bd41;	
	padding-right:70px;
	padding-top:135px;
	float:right;
	width:100%;
}

.showcase-title p {
	
	margin-bottom:0;	
	text-align:right;
}

.showcase-title p.one {
	font-size:25px;	
	letter-spacing:2px;
	line-height:25px;
}
.showcase-title p.two {
	font-size:40px;	
	font-weight:bold;
	letter-spacing:2px;
	line-height:60px;
}
.showcase-title p.three {
	font-size:35px;	
	letter-spacing:2px;
	line-height:35px;
	margin-bottom:10px;
}

.showcase-subtitle {
	font-family:'Open Sans';
	color:#757575;
	font-size:23px;
	font-weight:300;
	text-align:right;
	padding-right:70px;	
	max-width:450px;
	float:right;
	margin-bottom:6px;
}

.try-button {
	display:inline-block;
	margin-right:70px;
	padding:13px 50px 13px 50px;
	background-color:#ff861d;
	color:#ffffff;
	text-align:center;
	border-bottom:4px solid #e56600;
	font-family:'Open Sans';
	font-size:30px;
	font-weight:300;
	cursor:pointer;
}

.try-button:hover {
	background-color:#e56600;	
}

.showcase-button-wrapper {
	text-align:right;	
}

.title-header {
	padding-top:48px;
	padding-bottom:48px;	
	text-align:center;
}

.title.one {
	font-family:Vidaloka, serif;
	font-size:40px;
	color:#97bd41;	
	margin-bottom:0;
}

.title.two {
	font-family:Vidaloka, serif;
	font-size:40px;
	color:#ff861d;	
	margin-bottom:0;
}

.subtitle {
	font-family:'Open Sans';
	font-size:18px;	
	color:#757575;
	font-weight:300;
	padding-left:170px;
	padding-right:170px;
	margin-top:6px;
	line-height:30px;
	margin-bottom:0;
}

.meal-section {
	margin-bottom:50px;	
}

.row.tight {
	margin-left:0;
	margin-right:0;	
}

.coltight {
	padding-left:0;
	padding-right:0;
	background-color:#97bd41;
	text-align:center;
}

.coltight img {
	max-width:100%;
	height:auto;	
	text-align:center;
	display:inline-block;
}

.boxsales {
	height:80px;
	text-align:center;
	line-height:80px;
	font-family:Vidaloka, serif;
	font-size:30px;
	color:#ffffff;
	letter-spacing:2px;
}

.boxsales.one {
	background-color:#ecc991;	
}

.boxsales.two {
	background-color:#579821;	
}

.boxsales.three {
	background-color:#b17251;	
}

.boxsales.four {
	background-color:#f0b820;
}

.boxsales.five {
	background-color:#ffb6c1;
}

.boxsales.six {
	background-color:#ffb6c1;
}

.boxsalesspecial {
	line-height: 80px;
    font-family: Vidaloka, serif;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    height: 350px;
	padding-top:50px;
}

@media (max-width: 1200px) { /*Tablet*/
.boxsalesspecial {
	height: 303px;
	padding-top:32px;
}
}

@media (max-width: 988px) { /*Tablet*/
.boxsalesspecial {
	height: 253px;
	padding-top:10px;
}
}

@media (max-width: 767px) { /*Tablet*/
.boxsalesspecial {
	display: none;
}
}

.meal-section-button-wrapper {
	text-align:center;	
	padding-bottom:50px;
	position:relative;
	z-index:1;
}

.inner-white {
	position:relative;
	display:inline-block;	
	border-left:15px solid #ffffff;
	border-right:15px solid #ffffff;	
	z-index:2;
}

.meal-section-button-wrapper .try-button {
	position:relative;
	margin-right:0;
	border-bottom:4px solid #e56600;
	z-index:3;
}

.inner-line {
	display:block;
	position:relative;
	border-top:1px solid #dddddd;
	margin-left:70px;
	margin-right:70px;	
	width:auto;
	top:-35px;
	left:0;
	right:0
	z-index:0;	
}

.system-section .coltight {
	background-color:none;
	height:435px;
	position:relative;	
	color:#fff;
}

.coltight.green {
	background-color:#97bd41;	
}

.coltight.green:after {
	right: 100%; top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: none;
	border-right-color: #97bd41; 
	border-width: 24px;
	margin-top: -24px;	
}

.coltight.greenshow {
	background-color:#000;	
}

.coltight.greenshow .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;	
}

.coltight.greenshow .videoWrapper iframe,
.coltight.greenshow .videoWrapper object,
.coltight.greenshow .videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.coltight.orange {
	background-color:#ff861d;	
	z-index:1;
}

.coltight.orange:after {
	left: 100%; top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: none;
	border-left-color: #ff861d; 
	border-width: 24px;
	margin-top: -24px;	
}

.coltight.orangeshow {
	background-image:url(../img/plan.jpg);
	background-size:cover;
}

.coltight.candy {
	background-color:#ff7b7b;	
}

.coltight.candy:after {
	right: 100%; top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: none;
	border-right-color: #ff7b7b; 
	border-width: 24px;
	margin-top: -24px;	
}

.coltight.candyshow {
	background-image:url(../img/quickandeasy.jpg);
	background-size:cover;
}

.coltight.purple {
	background-color:#c487fd;	
	z-index:1;
}

.coltight.purple:after {
	left: 100%; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none;
	border-left-color: #c487fd; 
	border-width: 24px; margin-top: -30px;
}

.coltight.purpleshow {
	background-image:url(../img/kitchenninja.jpg);
	background-size:cover;
}

.show-content {
	text-align:left;
	padding-left:70px;
	padding-right:70px;	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content-title {
	font-family:Vidaloka, serif;
	font-size:30px;
	letter-spacing:2px;	
}

.content-text {
	font-family:'Open Sans';
	font-weight:300;
	font-size:18px;	
	margin-bottom:30px;
}

.smallbtn:hover {
	text-decoration:none;	
}

.green.exampleButton {
	background-color:#97bd41;	
	border-bottom:3px solid #7fa133;
	color:#ffffff;
	margin-top:30px;
}

.green.exampleButton:hover {
	background-color:#7fa133;	
}

.exampleButton {
	display:inline;
	font-family:'Open Sans';
	font-size:14px;	
	padding:6px 18px 6px 18px;
	cursor:pointer;
}

.orange .exampleButton a {
	text-decoration:none;
}

.orange .exampleButton {
	background-color:#ff7200;	
	border-bottom:4px solid #e56600;
	color:white;
}

.orange .exampleButton:hover {
	background-color:#e56600;	
	color:white;
	text-decoration:none;
}

.candy .exampleButton {
	background-color:#ff5c5c;	
	border-bottom:4px solid #e84242;
}

.candy .exampleButton:hover {
	background-color:#e84242;	
}

.faq {
	font-family:'Open Sans';
	font-size:25px;
	font-weight:300;
	color:#757575;	
}

.faq a {
	color:#bab824;
	font-weight:bold;	
}

.faq-italic {
	color:#bbbbbb;
	font-style:italic;	
}

.other {
	color:#ff7b7b;
	font-size:40px;
	font-weight:bold;	
	font-family:Vidaloka, serif;
}

.says {
	background-image:url(../img/pattern.png);
	background-repeat:repeat;
	border-top:1px solid #dddddd;	
	border-bottom:1px solid #dddddd;	
	padding-left:170px;
	padding-right:170px;
	padding-top:50px;
}

.bold {
	font-weight:bold;	
}

.italic {
	font-style:italic;	
}

.say {
	margin-bottom:50px;	
}

.say .quote{
	color:#757575;
	font-family:'Open Sans';
	font-size:25px;	
	font-weight:300;
}

.say .who {
	color:#97bd41;
	font-family:'Open Sans';
	font-weight:bold;
	font-size:18px;
	text-align:right;
	margin-top:30px;
	margin-bottom:40px;
}

.say .line {
	width:370px;
	height:1px;
	border-top:1px dashed #bbbbbb;
	margin-left:auto;
	margin-right:auto;	
}

.cqa {
	position:relative;	
	height:auto;
}

.cqa-photo {
	width:370px;
	float:left;	
	height:100%;
	background-color:#f00;
	position:absolute;
	background-image:url(../img/faq.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

.cqa-photo img {
	max-width:100%;
	height:auto;	
}

.cqa-content {
	padding-left:395px;
	padding-right:70px;
	padding-top:50px;
	padding-bottom:50px;	
}

.cqa-title {
	margin-top:50px;
	margin-bottom:50px;
	font-size:40px;
	color:#c487fd;	
	font-family:Vidaloka, serif;
}

.q {
	color:#97bd41;	
	font-size:18px;
	font-family:'Open Sans';
	font-weight:bold;
}

.a {
	margin-bottom:40px;
	color:#757575;	
	font-size:18px;
	font-family:'Open Sans';
	font-weight:300;
}

.footer-top {
	background-color:#97bd41;
	padding-top:50px;
	padding-bottom:50px;	
}

.footer-top a {
	color:#ffffff;
	font-family:'Open Sans';
	font-weight:300;
	font-size:18px;	
	display:block;
}

.footer-top a:hover {
	text-decoration:none;	
}

.footer-top ul {
	padding-left:0;	
}

.footer-top .col-lg-3 {
	padding-left:0;	
}

.footer-top li {
	list-style-type:none;	
}

.footer-bottom-wrape {
	padding-left:70px;
	padding-right:70px;
	background-color:#64821f;
	padding-top:20px;
	padding-bottom:20px;
	font-family:'Open Sans';
	font-weight:300;
	font-size:18px;	
	color:#ffffff;
}

.footer-bottom-wrape .container {
	padding-left:0;	
}

.footer-widget h4 {
	font-style:italic;
	color:#ffffff;
	font-weight:normal;	
	padding-left:70px;
}

.textwidget {
	padding-left:70px;	
}

.social-icons img {
	margin-bottom:10px;	
}

.menu-footer-menu-container {
	padding-left:70px;	
}

#menu-footer-menu {
	margin-left:0px;
	display:inline;		
}

.calllightbox {
	cursor:pointer;	
}

.calllightboximage {
	color:#ffffff;	
}

.calllightboximage:hover {
	color:#ffffff;
	text-decoration:none;	
}

.lightbox-overlay {
	position:fixed; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
	z-index:999999 !important;
	width:100%;
	display:none;
}

.lightbox {
	background-color:#fff;
	max-width:1030px;
	min-height:644px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top: 50%;
  	transform: translateY(-50%);	
	box-shadow:0 0 25px #ccc;	
	
}

.lightbox2 {
	background-color:#fff;
	max-width:1030px;
	min-height:644px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top: 50%;
  	transform: translateY(-50%);	
	box-shadow:0 0 25px #ccc;	
	
}

.lightbox-content {
	padding-left:330px;
	text-align:left;		
}

.lightbox-inner-text {
	font-family:'Open Sans';
	font-weight:300;
	font-size:18px;
	color:#757575;
	line-height:32px;
	margin-right:30px;
	padding-bottom:33px;
}

.lightbox-title {
	font-family:Vidaloka, serif;
	font-size:30px;
	color:#97bd41;	
	letter-spacing:1px;
	margin-bottom:20px;
	margin-right:20px;
}

.lightbox-subtitle {
	font-family:Vidaloka, serif;
	font-size:25px;
	color:#bbbbbb;
	font-style:italic;
	margin-right:20px;	
	margin-bottom:20px;
	
}

.lightbox-photo {
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 100%;
    position: absolute;
    width: 300px;	
}

.lightbox2 .lightbox-photo {
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height:98%;
    position: absolute;
    width: 950px;	
	margin-left:10px;
	margin-top:10px;
}

.lightbox-photo.paleo {
    background-image: url("../img/lightboxpaleo.jpg");	
}
.lightbox-photo.aip {
    background-image: url("../img/lightboxaip.jpg");	
}
.lightbox-photo.fodmap {
    background-image: url("../img/lightboxfodmap.jpg");	
}
.lightbox-photo.vege {
    background-image: url("../img/lightboxvege.jpg");	
}
.lightbox-photo.classic {
    background-image: url("../img/lightboxclassic.jpg");	
}
.lightbox-photo.quick{
    background-image: url("../img/sample_grocery.png");	
}
.lightbox-photo.plan {
    background-image: url("../img/sample_menu.png");	
}

.lightbox-close, .lightbox-sales-close {
	width:40px;
	height:40px;
	background-image:url(../img/close.png);
	background-repeat:no-repeat;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	float:right;	
	cursor:pointer;
}

.lightbox-button-wrapper {
	position:relative;	
	text-align:center;
	border-top:1px solid #dddddd;
	padding-top:50px;
	margin-right:30px;
}

@media (max-width:1200px) {
	
	.logo {
		margin-left:10px;
	}
	
	.menu-wrapper{
		padding-right:10px;
	}
	
	.menu {
		padding-left:8px;
		padding-right:8px;
	}
	
	.leftbox {
		width:200px;
		background-size:auto !important;
		margin-bottom:50px;	
		height:170px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.rightbox {
		width:200px;
		background-size:auto !important;
		margin-top:50px;	
		height:387px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media (max-width: 998px) { /*Tablet*/
	.logo {
		float:none;
		margin-left:auto;
		margin-right:auto;	
	}
	
	.menu-wrapper {
		text-align:center;
		padding-top:0;
		padding-bottom:20px;	
		height:80px;
		padding-left:15px;
		padding-right:15px;	
	}
	
	.menu {
		padding-left:18px;
		padding-right:18px;
	}	
	
	.menu:last-child {
		padding-right:18px;
	}
	
	.showcase-title {
		padding-top:50px;	
	}
	
	.showcase-subtitle {
		margin-bottom:20px;			
	}
	
	.showcase-button-wrapper {
		text-align:center;			
	}
	
	.try-button {
		margin-right:0;	
	}
	
	.subtitle {
		padding-left:20px;
		padding-right:20px;	
	}
	
	.show-content { 
		padding-left:20px;
		padding-right:20px;
	}
	
	.content-title {
		font-size:25px;	
	}
	
	.content-text {
		font-size:16px;	
	}
	
	.says {
		padding-left:70px;
		padding-right:70px;	
	}
}

@media(max-width:767px) { /*Mobile*/   
	.menu-wrapper {
		padding-bottom:20px;
		height:auto;			
	}
	
	.menu {
		display:block;
		border-right:0;	
		height:40px;
		padding-bottom:10px;
	}
	
	.showcase-inner {
		display:inline-block;
		position:relative;
	}
	
	.showcase-title {
		padding-top:70px;	
		padding-left:20px;
		padding-right:20px
	}
	
	.showcase-subtitle {
		padding-left:20px;
		padding-right:20px;	
		margin-bottom:20px;
	}
	
	.showcase img {
		position:relative;
	}
	
	.try-button {
		margin-left:20px;
		margin-right:20px;
		padding:13px 20px 13px 20px;
	}	
	
	.meal-section-button-wrapper .try-button {
		margin-left:0;
	}	
	
	.showcase-title p.two {
		font-size:35px;	
		font-weight:bold;
		letter-spacing:1px;
		line-height:40px;
	}
	
	.coltight.orange,
	.coltight.green,
	.coltight.candy,
	.coltight.purple {
		height:auto;	
		padding-top:50px;
		padding-bottom:50px;
	}
	
	.show-content {
		top:'';
		transform:none;	
	}
	
	.says {
		padding-left:20px;
		padding-right:20px;	
	}
	
	.cqa-photo {
		width:100%;
		position:relative;
		float:left;	
		height:400px;
	}
	
	.cqa-content {
		float:left;	
		padding-left:20px;
		padding-right:20px;
	}
	
	.try {
		padding-left:20px;
		padding-right:20px;
	}
	
	.try-content {
		padding-left:0;
		padding-right:0;	
	}
	
	.subbox {
		padding-left:20px;
		padding-right:20px;	
	}
	
	.subbox-button-wrapper .try-button {
		margin-left:0;	
	}
	
	.lightbox-inner-text {
		overflow-y:scroll;
		height:200px;	
		margin-right:20px;
	}
	
	.smallbtn {
		padding-bottom:50px;	
	}
	
	.lightbox-content {
		padding-left:20px;	
	}
	
	.lightbox-photo {
		width:0;		
	}	
	
	.lightbox-button-wrapper {
		margin-right:20px;	
	}
}

.recurringnote {
	font-size:25px;
	border: 1px solid #dddddd;
	color:#000000;
	font-family: Vidaloka, serif;	
	margin: 3px;
}

img {max-width:100%;height:auto;}

@media screen and (max-width: 800px) {

#thefixedBar {
   
    height: auto;
}

#thefixedBarWrap {
    max-width: 100%;
    margin: 0 auto;
}


#thecounterWrap {
    padding: 10px 0 0;
    margin: 0 auto;
    position: relative;
    width:100%;
    text-align: center;
    font-family: 'Open Sans';
   
}


#thecounterTitle {
    color: #fff;
   font-size: 24px; font-weight:300; text-transform:uppercase;
    padding: 20px 0 0;
    float: none;
    margin: -20px auto 0 auto; 
    width: 90%;
    line-height: 1;
    position: relative;
}


#themoveitleft {
    float: none;
    position: relative;
    width: 90%;
    margin: 0 auto;font-weight:300; text-transform:uppercase;margin-top:-15px;
}


.counterLabel {
	font-size: 18px;
	text-transform: lowercase;margin-top:10px;
}


.counterWrap {
	float: left;
	font-size: 18px;
	line-height: 20px;
	padding: 12px 5px;
	text-align: center;
	display: inline-block;margin-top:10px; position:relative;
}

}
