/* MENU PLANNER CONTROL */

	/*Individual elements*/
	#sys-title {
		width: 114px;
		height: 35px;	
		margin-top: 30px;
		margin-left: 50px;
		background-repeat:no-repeat;
		background-position:center;
		font-family: HollieScriptPro;
		font-size:30px;
		color:#fff;
	}

	.step-title {
		color: #444444;
		font-size: 12px;
		display:none;
	}
	
	#extratab-wrapper {
		flex-grow:1;
	}
	
	#extratab-wrapper-icons {
		width: 100%;	
		float: right;
		margin-top: 22px;
	}	
	
	#readme {

	}

	#readme:hover {

	}
	
	#sys-tabpanel {
		margin-top:180px;
	}
	
	#sys-tabpanel .tab-pane#recipesdetail, #sys-tabpanel .tab-pane#shoppinglist, #sys-tabpanel .tab-pane#stepbystep, #sys-tabpanel .tab-pane#options {
		background-color: #fff;
		/*margin-top: 20px;*/
	}
	
	#mymenu-stage-wrapper .tab-pane#stepbystep,
	#pdf-preview .tab-pane#stepbystep {
		margin-bottom: 20px;
	}

	#mymenu-stage-wrapper .tab-pane#stepbystep {
		margin-top: 40px;
	}
	
	#sys-tabpanel .tab-pane#shoppinglist {
		margin-bottom: 20px;
	}
	
	#sys-tabpanel ul {
		margin-top:13px;	
	}

	#sys-tabpanel ul.mymenu-stage,
	#createmenu-stage-wrapper ul.mymenu-stage {
		margin-top:0;
		margin-bottom:0;
	}

	.textareaadditemprint { 
		display: none;
	} 		
	
	.insidePane {
		padding: 15px 30px 15px 30px;
	}
	
	@media( max-width:1199px ) {
		#readme {
			padding:10px 5px;
			margin-left:10px;
		}
	}
	
	@media (max-width: 767px) {
		.navbar-nav .sub-menu {
			display: block !important;
			position: relative !important;
		}
		
		#sys-title {
			width:100%;		
			margin-left:0;	
			
		}
	}	
	
	/*Tab styling*/
	#sys-tabpanel .nav {
		background-color: #1aa6b7;
		position: relative;
	}
	
	#sys-tabpanel .nav-tabs  {
		text-align: left;
		margin-top:-40px;
	}
		
	#sys-tabpanel .nav-tabs .icon {
		color: #000;
		margin-top: 4px;
		margin-left:20px;
		line-height: 30px;
	}	
	
	#sys-tabpanel .nav-tabs .icon:hover {
		color: #022241;
	}		
	
	#sys-tabpanel .nav-tabs > li > a {
		font-size:18px;
		color:#222222;	
	}

	#sys-tabpanel .nav-tabs > li {
		margin-bottom:0;	
	}

	#sys-tabpanel .nav-tabs > li.tab-icons {
		float:right;
	}

	#sys-tabpanel .nav > li {
		margin-top: 17px;
		margin-left: 15px;
	}

	#sys-tabpanel .nav > li > a {
		padding:12px 20px 12px 45px;
		overflow:hidden;
		background-color:#444444;
		border-radius:4px;		
		font-size: 13px;
		color:#ccc;	
		cursor:pointer;			
	}
	
	#sys-tabpanel .nav > li > a:hover,
	#sys-tabpanel .nav > li > a:focus {
		background-color:#444444;
		color:#ffffff;	
	}
	
	.step-icon {
		width:25px;
		height:25px;
		margin-right:15px;
		background-position:center;
		background-size:contain;
		background-repeat:no-repeat;
		position:absolute;
		top:9px;
		left:10px;
		opacity:0.5;
		transition:all 0.4s ease 0s;
	}
	
	#sys-tabpanel .nav-tabs > li.active .step-icon,
	#sys-tabpanel .nav > li > a:hover .step-icon {
		opacity:1;	
	}
	
	#mealplan-icon {
		background-image:url(../../img/mealplan-icon.png);
	}
	
	#shoppinglist-icon {
		background-image:url(../../img/shoppinglist-icon.png);
	}
	
	#prepguide-icon {
		background-image:url(../../img/prepguide-icon.png);
	}
	
	/*#sys-tabpanel .nav > li > a:after {
	    content: "•";
		margin-left: 20px;
	}	
	
	#sys-tabpanel .nav > li > a:hover:after {
	    color:#444444;
	}		
	
	#sys-tabpanel .nav > li.last > a:after {
	    content: "";
		margin-left: 0px;
	}	*/		
	
	#sys-tabpanel .nav-tabs > li.active > a,
	#sys-tabpanel .nav-tabs > li.active > a:hover,
	#sys-tabpanel .nav-tabs > li.active > a:focus {
		background-color:#444444;
		color:#ffffff;	
	}
	
	#sys-tabpanel .nav-tabs > li.active > a:after {
		color: #fff;
	}
	
	#sys-tabpanel .tab-pane {
		background-color: transparent;
	}	
	
	#selectWeek {
		position:relative;	
		cursor:pointer;
		display:inline-block;
	}
	
	#sys-tabpanel .nav-tabs #selectWeek .icon{
		margin-top: 6px;
		margin-right: 6px;
		margin-left:6px;
		font-size: 25px;
		color: #1aa6b7;
		float: none;
		position:absolute;
		right:0;
		top:0;
		cursor:pointer;
	}
	
	#selectWeek .icon:hover{
		color: #1aa6b7;
	}	

	#selectWeek.tab-icons:hover {
		background-position:-32px -32px;
	}	

	#selectWeek:hover .submenu-wrapper,
	#selectWeek:focus .submenu-wrapper {
		opacity:1;
		display:block;
	}		
	
	#selectedWeek {
		font-size: 30px;
		padding:0px 50px 0px 0px;
		background-image:url(../../img/selectarrowblack.png);
		background-position:right -2px;
		background-repeat:no-repeat;		
	}
	
	#sys-tabpanel .nav > li#massDelete {
		position: absolute;
		right:440px;
		top: 70px;
		cursor:pointer;
	}
	
	#massDelete.activated {
		color:#bf1005;	
	}
		
	#sys-tabpanel .nav > li#loadCustomMenu {
		position: absolute;
		right: 490px;
		top: 70px;
		cursor:pointer;
	}
	
	#sys-tabpanel .nav > li#addcardfavorite {
		position: absolute;
		right: 490px;
		top: 70px;
		cursor:pointer;
	}
	
	#sys-tabpanel .nav > li#loadCustomMenu .icon {
		font-size:26px;	
	}
	
	#sys-tabpanel .nav > li#printButton {
		position: absolute;
		right: 390px;
		top: 70px;
	}
	
	#sys-tabpanel .nav > li#optionButton {
		position: absolute;
		right: 340px;
		top: 70px;
	}
	
	#sys-tabpanel .nav > li#customMenuButton {
		position:absolute;
		right:290px;
		top:70px;
		font-size:10px;
		text-align:center;
		width:50px;
		text-transform:uppercase;
		color:#ffffff;
		padding-top:4px;
		cursor:pointer;
	}
	
	#sys-tabpanel .nav > li#customMenuButton:hover {
		color:#022241;
	}
	
	#sys-tabpanel .nav > li#customMenuButton:hover .customMenu-child,
	#sys-tabpanel .nav > li#customMenuButton:active .customMenu-child,
	#sys-tabpanel .nav > li#customMenuButton:focus .customMenu-child {
		color:#444444;
		display:block;
	}
	
	.customMenu-child {
		min-width: 280px;
		position: absolute;
		top: 100%;
		z-index: 1000;			
		color:#444444;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 0 10px #ccc;
		padding: 15px;
		text-transform:none;
		text-align:left;
		display:none;
		max-width: 300px;
	}
	
	.customMenu-warning {
		padding:5px;
		margin-bottom:5px;	
		background-color:#ffffd8;
		font-size:11px;
		line-height:14px;
		text-align:center;
		border:1px solid #e3e2b6;
		border-radius:3px;
	}
	
	@media( max-width:1600px ) {
		#sys-tabpanel .nav > li {
			margin-top: 16px;
		}	
	}
	
	@media( max-width: 1199px ) {	
		#sys-tabpanel .nav > li#loadCustomMenu {
			right:400px;	
		}
		
		#sys-tabpanel .nav > li#addcardfavorite {
			right:400px;	
		}
		
		#sys-tabpanel .nav > li#massDelete {
			/*right:350px;*/
			right:355px;
		}
		
		#sys-tabpanel .nav > li#printButton {
			/*right:300px;	*/
			right:310px;
		}
		
		#sys-tabpanel .nav > li#optionButton {
			/*right:250px;	*/
			right:265px;
		}
		
		#sys-tabpanel .nav > li#customMenuButton {
			right:210px;	
		}
	}
	
	@media (max-width: 997px) {		
		#sys-tabpanel .nav > li > a {
			text-align:center;	
		}
		
		#readme {
			float:left;
		}
		
		#extratab-wrapper {
			width:100%;	
			text-align:center;
		}

		#sys-tabpanel .nav {
			flex-wrap:wrap;	
		}
		
		#sys-tabpanel .nav > li {
			flex:1;
		}
		
		#sys-tabpanel .nav > li.first {
			margin-left:0px;	
		}
		
		#sys-tabpanel .nav > li#loadCustomMenu {
			right: 346px;
			top: 8px;
			z-index:999;		
		}	
		
		#sys-tabpanel .nav > li#addcardfavorite {
			right: 297px;
			top: 8px;
			z-index:999;		
		}
		
		#sys-tabpanel .nav > li#massDelete {
			right: 248px;
			top: 8px;
			z-index:999;		
		}
		
		#sys-tabpanel .nav > li#printButton {
			right: 199px;
			top: 8px;
			z-index:999;
		}
		
		#sys-tabpanel .nav > li#optionButton {
			right: 150px;
			top: 8px;
			z-index:999;
		}		
		
		#sys-tabpanel .nav > li#customMenuButton {
			right: 96px;
			top: 8px;
			z-index:999;	
		}
	}		

	@media (max-width: 767px) {
		
		#readme {
			display: none;
		}		
				
		#sys-tabpanel .nav > li#loadCustomMenu .icon {
			padding-bottom:5px;	
		}
		
		#sys-tabpanel .nav > li#addcardfavorite .icon {
			padding-bottom:5px;	
		}	
		
		#sys-tabpanel .nav > li#massDelete .icon {
			padding-bottom:5px;	
		}
		
		#sys-tabpanel .nav-tabs {
			flex-direction:column;	
			align-items:center;
		}
				
		#sys-tabpanel .nav-tabs > li {
			display:inline-block;
			width:100%;
			margin-left:0;
			max-width:240px;
		}
		
		#sys-tabpanel .nav {
			height: auto;
		}
		
		#sys-tabpanel .nav-tabs {
			text-align:center;	
			margin-top:13px;
		}
		
		/*#sys-tabpanel .nav > li > a {
			padding:0 0 15px 0;	
		}
		
		#sys-tabpanel .nav > li > a:after {
			content:"";	
			margin-left:0;
		}*/
		
		#sys-tabpanel .nav > li#loadCustomMenu {
			position:static;
			right:'';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:auto;
			vertical-align:middle;	
		}
		
		#sys-tabpanel .nav > li#addcardfavorite {
			position:static;
			right:'';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:auto;
			vertical-align:middle;	
		}
				
		
		
		#sys-tabpanel .nav > li#massDelete {
			position:static;
			right:'';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:auto;
			vertical-align:middle;			
		}
		
		#sys-tabpanel .nav > li#printButton {
			position:static;
			right:'';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:auto;
			vertical-align:middle;
		}
		
		#sys-tabpanel .nav > li#optionButton {
			position: static;
			right: '';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:auto;
			vertical-align:middle;
		}
		
		#sys-tabpanel .nav > li#customMenuButton {
			position: static;
			right: '';
			top:0;
			margin-left:0;
			margin-bottom:15px;
			width:50px;
			vertical-align:middle;	
		}
		
		.customMenu-child {
			margin-top:-15px;
			width:100%;
			left:0px;	
			min-width:0px;
			max-width:none;
			top:30px;
		}
				
		#sys-tabpanel .nav > li.first {
			margin-left:0;	
		}
		
		#sys-tabpanel .nav-tabs .icon {
			margin-left:10px;
			margin-right:10px;	
		}

	}
	
	/* Daily Row */
	#mymenu-stage-wrapper .tab-content,
	#pdf-preview .tab-content {
		border: 0;
		text-align: left;
	}

	#mymenu-stage-wrapper .tab-pane,
	#pdf-preview .tab-pane {
		padding: 0px 0px 20px 0px;
	}
	
	.mymenu-day {
		margin-top: 10px;
		padding-top:14px;
		padding-bottom:14px;	
		background-color: #fff;
	}	
	
	.mymenu-stage {
		margin-left:130px;	
		margin-right:50px;
		min-height:125px;
		height:90%;
		height:calc(100% - 22px);
		position:relative;
	}

	.mymenu-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;	
	}	

	.mymenu-date {
		position:absolute;	
		top: 62px;
		left: 20px;		
		width:130px;
		font-size:15px;
		font-weight: 700;
		color:#444444;
	}
	
	.mymenu-date span{
		font-size:13px;
		font-weight: 700;
		color:#aaaaaa;
	}	

	.mymenu-separator {
		clear:both;	
	}
	
	.mymenu-addrecipe-wrapper {
		margin-right: 0;
		bottom:7px;
	}
	
	.addcard {
		background-color: transparent;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		border-radius:40px;
		cursor: pointer;
		transition: background 0.2s ease 0s;
		border: 1px solid #1aa6b7;
		background-image:url(../img/spoonblue.png);
		background-position:center;
		color:#1aa6b7;
		margin-bottom:80px;
		position:absolute;
		top:0px;
		right:5px;
	}	
	
	.addcard:after {
		content:"Add Recipes";
		position:absolute;
		font-size:10px;
		line-height:12px;
		margin-top:30px;
		text-align:center;
		margin-left:-5px;
	}	
	
	.addcard:hover {
		background-color:#1aa6b7;
		background-image:url(../img/spoonwhite.png);
		/*color: #fff;*/
		/*border: 1px solid #fff;*/
	}
	
	.dailymacros {
		/*background-position: 8px 8px;*/
		background-color: transparent;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		border-radius:40px;
		cursor: pointer;
		/*float: right;*/
		transition: background 0.2s ease 0s;
		border: 1px solid #1aa6b7;
		background-image:url(../img/kcalblue.png);
		background-position:center;
		color:#1aa6b7;
		position:absolute;
		/*top:65px;*/
		right:5px;
	}	
	
	.dailymacros:after {
		content:"Daily Macros";
		position:absolute;
		font-size:10px;
		line-height:12px;
		margin-top:30px;
		text-align:center;
		margin-left:-5px;
	}	
	
	.dailymacros:hover {
		background-color:#1aa6b7;
		background-image:url(../img/kcalwhite.png);
	}	
	
	.addcard .icon {
		font-size: 30px;
		line-height: 30px;
		color: #1aa6b7;
		display:none;
	}		
	
	.addcard .icon:hover {
		color: #fff;
	}		

	.free-user .addcard {
		display: none;
	}
		
	.recipe-placeholder { 

		width:100%; 
		height:53px; 
		margin-right:10px; 
		margin-bottom:10px; 
		
		background: url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") repeat-x scroll 50% top #ffe45c;
		
		border: 1px solid #fed22f;
		color: #363636;
		list-style:none;
	}
		
	@media (max-width: 997px) {	
		.mymenu-date {
			position:relative;
			top: 0px;
			float:left;
			margin-bottom:20px;		
			height:55px;
		}	

		
		.mymenu-stage {
			position:relative;	
			margin-left:20px;
			margin-right:0px;
			clear:both;		
		}		
	}		
	
	@media( max-width:767px ) {
		.addcard {
			/*top:0px;
			right:60px;*/
		}	
		
		.dailymacros {
			/*top:0px;
			right:5px;*/
		}	
	}
	
	/* Recipe Box */	
	.recipe-header {
		text-align:center;
		text-transform:uppercase;
		font-size:10px;
		color:#fff;
		height:15px;
		padding-top: 2px;
		padding-bottom: 2px;
		line-height:11px;	
		background-color:#cccccc;
	}
	
	.recipe-content-wrapper {
		position:relative;	
	}

	.recipe-content {
		float:left;
		font-size:12px;
		padding:10px 7px;
		margin-left:40px;
		margin-right:66px;
	}

	.recipe-diet {
		background-color: #dadada;
		color: #333;
		padding-top: 1px !important;
		padding-bottom: 1px !important;
		font-size: 12px !important;
	}

	.recipe-thumbnail {
		width:40px;
		height:100%;
		position:absolute;
		left:0;
		cursor:move;
		background-color:#fff;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
	
	.recipe-thumbnail img {
		display:none;	
	}
	
	.recipe {
		float:left;
		/*display:inline-block;*/
		margin-right:10px;
		margin-bottom:10px;
		
		list-style:outside none none;
		max-width:100%;
	}

	.recipe-remove {
		position: absolute;
		width: 25px;
		right: 5px;
		cursor: pointer;
		top: 12px;
		font-size: 14px;
	}
	
	.recipe-hover {
		position:absolute;
		width:20px;
		height:20px;
		right:34px;	
		cursor:pointer;
		font-size: 18px;
		top:6px;
	}
	
	.noremove .recipe-hover {
		right:5px;	
	}

	.recipe-hover .icon {
		color: #1aa6b7;
		text-align: center;
        margin-left: 0px;
        margin-top: -2px;
	}

	.recipe-insight {
		display:none;
		position:relative;
		background-color:#f8ffe9;
		background:rgba(248, 255, 233, 0.9);
		border:2px solid #1aa6b7;
		color:#1aa6b7;
		border-radius:4px;	
		width:300px;
		margin-left:-134px;
		z-index:1000;
		margin-top:-5px;
	}

	.recipe-insight:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(151, 189, 65, 0);
		border-bottom-color: #1aa6b7;
		border-width: 8px;
		margin-left: -8px;
	}

	.insight-thumb {
		position:relative;
		width:100%;
		text-align:center;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		height:80px;
	}
	
	.insight-fav {
		padding-top:5px;
		text-align:center;
	}
	
	.insight-fav .fav {
		display:inline-block;	
		float:none;
	}

	.insight-thumb img {
		width:100px;	
	}

	.insight-cat {
		margin-top:5px;
		font-size:13px;
		letter-spacing:1px;	
	}

	.insight-meta {
		text-align:center;
	}

	.insight-title {
		padding:10px;
		background-color:#1aa6b7;
		color:#ffffff;
	}

	.insight-moremeta {
		font-size:12px;	
		padding-left:5px;
		padding-right:5px;
		padding-bottom:5px;
	}

	.insight-line {
		margin-left:10px;
		margin-right:10px;
		height:1px;
		background-color:#1aa6b7;		
	}

	.insight-content {
		font-size:13px;	
		padding:4px 10px;
		color:#555555;
	}	
	
	/* Notes Box*/
	.notes {
		border:1px solid #ddd;	
		border-radius:5px;
		margin-right:10px;
		margin-bottom:10px;
		position:relative;
		background-color:#f5f5f5;
		width:100%;
		list-style-type: none;
	}

	.notes-handle {
		position:absolute;
		left:0;	
		width:40px;
		height:100%;
		background-image:url(../img/notes.png);
		background-repeat:no-repeat;
		background-position:center center;
		cursor:move;
		background-color:#ffffff;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
	}

	.notes-content {
		color:#777777;
		font-size:13px;
		padding:17px 7px 17px 7px;
		margin-left:40px;	
		margin-right:33px;	
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}

	.notes-remove {
		position: absolute;
		width: 25px;
		right: 0;
		cursor: pointer;
		top: 17px;
		font-size: 14px;
	}

	.notes-hover {
		position:absolute;
		width:33px;
		right:30px;	
		cursor:pointer;
		font-size: 18px;
	}

	.notes-hover icon {
		color: #1aa6b7;
	}

	.notes-hover .icon {
		margin-right:9px;	
		margin-top:11px;
		margin-bottom:6px;
		text-align:right;		
	}

/* Shopping List */

	.logogroup {
		display:inline-block;
		margin-left:10px;
		width:32px;
		height:32px;
		vertical-align:10px;
	}
	
	.ingredientTitle {		
		font-size:22px;
		text-transform:uppercase;	
		margin-top:20px;
		margin-bottom:5px;
	}
	
	.ingredient_list_ingredient {
		cursor: pointer;
		margin-bottom: 3px;
	}		
	
	#Dairy.ingredientTitle {
		color:#fed800;	
	}
	#Meat.ingredientTitle {
		color:#f15e3d;	
	}
	#Pantry.ingredientTitle {
		color:#f7941d;	
	}
	#Produce.ingredientTitle {
		color:#3bb878;	
	}
	#Spices.ingredientTitle {
		color:#a67c52;	
	}
	#Others.ingredientTitle {
		color:#babb33;	
	}
	
	#ingredient_list {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		
		-webkit-column-rule: 1px solid #ddd; /* Chrome, Safari, Opera */
		-moz-column-rule: 1px solid #ddd; /* Firefox */
		column-rule: 1px solid #ddd;	
	}

	#ingredient_list h3 {
		margin-top: 0px;
	}

	#addi_items {
		margin-top: 14px;
	}
	
	.textareaadditem {
		width: 500px;
		height: 150px;
	}

	input.col_amount{
	  border: none;
	  padding: 0;
	  margin: 0;
	  font: inherit;
	  color: inherit;
	  line-height: inherit;
	  font-size: inherit;
	  text-align: inherit;
	  vertical-align: top;
	  width:50px;
	  border-bottom: 1px dashed #ddd;
	}
	
	input.col_default{
	  border: none;
	  padding: 0;
	  margin: 0;
	  font: inherit;
	  color: inherit;
	  line-height: inherit;
	  font-size: inherit;
	  text-align: inherit;
	  vertical-align: top;
	  width:50px;
	  border-bottom: 1px dashed #ddd;
	}	

	input.col_amount:hover,
	input.col_amount:focus{
	  background-color: #FFD;
	  -webkit-transition: background-color 0.5s;
		 -moz-transition: background-color 0.5s;
		  -ie-transition: background-color 0.5s;
			  transition: background-color 0.5s;
	}

	.stroked{ text-decoration: line-through; }

	.col_ingredient {
		-webkit-user-select: none;       
		-moz-user-select: none; 
		-ms-user-select: none; 
		-o-user-select: none;
		user-select: none;
	}

	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border:1px solid #1aa6b7 !important;	
	}
	
	.col_amount_print{
		display:none;
	}
	
	@media (max-width: 767px) {
		#ingredient_list {
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
			-moz-column-count: 1; /* Firefox */
			column-count: 1;
		}
	}		
	
/* Step by Step*/

	#global-announcement-stepbystep {
		padding:20px;
		border:1px solid #1aa6b7;
		background-color:#e9ffd9;
		margin-bottom:20px;	
		margin-top:10px;
	}

	#global-announcement-stepbystep p {
		margin-bottom:5px;	
		line-height: 30px;
	}
	
	#step_list .bordered {
		-webkit-border-radius: 0px; 
		border-radius: 0px; 	
	}
	
/* Calendar */

	.submenu-wrapper {
		position:absolute;	
		top:100%;
		margin-top:-5px;
		left:0;
		z-index:1000;	
		opacity:0;
		display:none;		
	}

	.submenu {
		background-color:#fff;
		border-radius:3px;
		box-shadow: 0 -2px 10px #eee;
		padding:20px 25px;
		margin-top:15px;
	}

	.submenu:after {
		bottom: 100%; 
		left: 10%; 
		border: solid transparent; 
		content: " "; 
		height: 0; 
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 6px;
		margin-left: -6px;	
		margin-bottom:-13px;
	}

	.submenu li {
		font-size:18px;
		line-height:18px;
		padding-bottom:18px;
		border-bottom:1px solid #eee;
		margin-bottom:20px;
		list-style-type: none;
	}

	.submenu li:hover {
		color:#bf1005;
		cursor:pointer;
	}

	.submenu li:last-child {
		margin-bottom:0;	
		padding-bottom:0;
		border-bottom:none;
	}
	
/* Save Button */
	.savewrapper {
		margin-top:20px;
		padding-top:20px;		
	}
	
	.savebutton {
		width:100%;
		height:60px;
		text-align:center;
		line-height:60px;
		font-size:18px;
		color:#ffffff;
		background-color:#bf1005;	
		float:right;			
		cursor:pointer;
		transition:background-color 0.2s ease 0s, color 0.2s ease 0s;
		font-weight:700;
	}
		
	.savebutton:hover {
		background-color:#9e0303;
	}
	
	.savebutton-green {
		background-color:#1aa6b7;
	}
	
	.savebutton-green:hover {
		background-color:#1ab6b7;
	}

	.reloadbutton {
		width:100%;
		height:60px;
		text-align:center;
		line-height:60px;
		font-size:18px;
		color:#ffffff;
		background-color:#1aa6b7;
		float:right;	
		cursor:pointer;
	}
	
	#shoppinglist .savebutton, 
	#shoppinglist .reloadbutton {
		width: auto;
		padding:0 20px;
	}
	
	#shoppinglist .savebutton {
		margin-right:10px;
	}
	
	@media( max-width:767px ) {
		#shoppinglist .savebutton, 
		#shoppinglist .reloadbutton {
			width: 100%;
			padding:0 20px;
			margin-bottom:10px;
		}
		
		#shoppinglist .savebutton {
			margin-right:0px;
		}	
	}
	
	#plan .savewrapper {
		margin-top: 0px;
	}
	
	#reallyaddrecipe {
		margin-top:15px;	
		width: 100%;
	}

	#reallyaddrecipe.loaded {
		background:none;
		border-bottom:4px solid transparent;
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		color:transparent;
		text-indent:-9999px;
		font-size:0;
		transition:none;
	}	
	
	#saveasnewmenu {
		text-transform:uppercase;	
		display:none;
	}
	
	#plan #saveasnewmenu.savebutton-green {
	    float: right;
        margin-top: 10px;
	}
	
	#saveweek.saving,
	#saveeditmenu.saving,
	#saveasnewmenu.saving {
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		border-bottom:4px solid transparent;	
		cursor:default;
	}
	
	#saveweek.saving:hover,
	#saveeditmenu.saving:hover,
	#saveasnewmenu.saving:hover {
		background-color:transparent;
		border-bottom:4px solid transparent;	
	}
	
	#saveweek.message,
	#saveeditmenu.message,
	#saveasnewmenu.message {
		background-image:none;
		color:#ff861d;	
	}
	
	#saveoptions.saving {
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		border-bottom:4px solid transparent;	
		cursor:default;
	}
	
	#saveoptions.saving:hover {
		background-color:transparent;
		border-bottom:4px solid transparent;	
	}
	
	#saveshopping.saving {
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		border-bottom:4px solid transparent;	
		cursor:default;
	}
	
	#saveshopping.saving:hover {
		background-color:transparent;
		border-bottom:4px solid transparent;	
	}	
	
	#reloadshopping.saving {
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		border-bottom:4px solid transparent;	
		cursor:default;
	}
	
	#reloadshopping.saving:hover {
		background-color:transparent;
		border-bottom:4px solid transparent;	
	}		
	
	#saveoptions.message {
		background-image:none;
		color:#ff861d;	
	}	
	
	.reloadbutton:hover {
		background-color:#1ab6b7;
	}

	.ui-datepicker-calendar th{
		font-size:10px !important;
	}

	.ui-datepicker-calendar .ui-state-default, 
	.ui-datepicker-calendar .ui-widget-content .ui-state-default, 
	.ui-datepicker-calendar .ui-widget-header .ui-state-default{
		font-size:12px;	
		font-weight:400;
		text-align:center;
	}

	.ui-datepicker-title {
		font-size:14px !important;
		height:25px;	
	}

	.ui-datepicker-title option {
		font-size:14px !important;
	}

	.ui-widget select {
		height:25px;
		padding-top:2px;
		padding-bottom:2px;
	}	
		
	.tab-icons {
		background-image:url(../img/tabicons.png);
		width:32px;
		height:32px;	
		background-repeat:no-repeat;
		margin-top:10px;	
		cursor:pointer;
	}

	#print.tab-icons {
		background-position:0 0;
		margin-left:30px;
		float:left;
	}

	#print.tab-icons:hover {
		background-position:0 -32px;
	}

	#selectDate-wrapper img {
		width:32px;
		height:32px;
		opacity:0;
	}

	#selectDate-wrapper.tab-icons {
		background-position:-32px 0;	
		margin-left:30px;
	}

	#selectDate-wrapper.tab-icons:hover {
		background-position:-32px -32px;
	}

	#addmenu {
		background-color:#95bb40;
		background-image:url(../img/plus.png);
		background-repeat:no-repeat;	
		padding:5px 12px 6px 32px;
		background-position:8px 8px;
		color:#ffffff;
		font-size:14px;
		border-radius:4px;
		margin-top:11px;
		cursor:pointer;
		transition:all 0.2s ease 0s;
	}

	#addmenu:hover {
		background-color:#64821f;	
	}

	#planAds {
		padding: 12px 20px 12px 20px !important;
		background-color: #bf1005 !important;
		color: #fff !important;
	}

	#planAds:hover {
		background-color: #9e0303 !important;
	}

	@media (max-width:991px) AND (min-width:768px) {
		#planAds {
			padding: 3px 2px !important;
		}

		.adssupported {
			margin-left: 0px !important;
    		margin-right: 15px !important;
		}
	}
	
/* Plan Header */
	.plan-action {
		position:relative;	
		min-height:60px;
		margin-top:0px;
		padding-bottom:10px;
	}
	
	.plan-action .savewrapper {
		text-align:right;
		padding-top:10px;
		margin-top:0px;
	}

	.plan-action .savewrapper.ads {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	.plan-action .savewrapper.ads > div {
		flex: 1;
	}

	.plan-action .savewrapper.ads .singlebutton {
		max-width: 300px;
	}

	.plan-action .ads728 {
		max-width: 728px;
		width: 100%;
		flex: 1;
		margin-right: 10px;
	}
	
	.plan-action .savebutton {
		display:inline-block;
		float:none;
		width:auto;
		padding:0 28px;
		border-radius:5px;
		cursor:pointer;
	}

	.bottombar { 
		background-color:rgba(0, 0, 0, 0.6);
		text-align: center;
		padding: 30px 10px 10px;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.centerbar {
		display: none;
		max-width: 320px;
		padding: 30px 10px 10px;
		background-color:rgba(0,0,0,0.6);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.sidebar {
		display: none;
	}

	.sidebar-inside {
		margin-left:-10px;
		margin-right:-10px;
	}

	.sidebar-inside .add {
		max-width: 275px;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
	}

	.sidebar-inside .add:first-child iframe:nth-child(3)  {
		height: 0px !important;
	}

	@media (max-width:1200px) {
		.sidebar-inside .add{
			max-width: 205px;
		}
	}

	@media (max-width:997px) {
		.sidebar-inside .add{
			max-width: 160px;
		}
	}

	@media (max-width:767px) {
		.sidebar-inside .add{
			width: 100%;
			max-width: 100%;
			display: none;
		}

		.sidebar-inside .add:first-child{
			display: block;
		}
	}

	.centerbar-overflow {
		overflow-y: scroll;
		height: 70vh;
	}
	
	.tab-pane .plan-action {	
		padding-bottom:0px;	
		min-height:70px;
		padding-bottom:40px;
	}
	
	#plan.tab-pane .plan-action {
		
	}
	
	@media( max-width:767px ) {
		.plan-action {
			padding-right:0px;	
			margin-top:10px;
		}
		
		.plan-action .savewrapper {
			position:static;
			width:100%;				
		}
		
		.plan-action .savebutton {
			width:100%;	
		}
	}
	
/* Error Warning */
	.error-warning {
		margin-bottom: 14px;
		color: red;
	}
	
	.error-warning:empty {
		height: 0px;
		margin-bottom: 0px;
	}
	
/* Custom Menu */
	#custommenu-title {
		text-align: left;
	    color: #1aa6b7;
	    font-size: 30px;
	    line-height: 60px;
	    padding-top: 10px;
		display:none;
	}
	
	@media( max-width:767px ) { 
		#custommenu-title {
			text-align:center;	
		}
	}
	
/* Add Card Lightbox */

	#addcard-tabs .nav-tabs {
		border:none;	
	}

	#addcard-tabs .nav > li {
		/*width:200px;*/
		padding-left:40px;
		height:56px;	
		float:left;
	}

	#addcard-tabs .nav > li > a {
		text-align:center;
		line-height:56px;
		padding:0;	
		text-transform:uppercase;
		border-radius:0;
		margin-right:0;
		transition:all 0.2s ease 0s;
	}

	#addcard-tabs .nav-tabs > li > a:hover {
		border-color:transparent;
		color:#022241;	
	}

	#addcard-tabs .nav-tabs > li.active > a, 
	#addcard-tabs .nav-tabs > li.active > a:hover, 
	#addcard-tabs .nav-tabs > li.active > a:focus {
		border-color:transparent;
		color:#022241;
		background-color:#1aa6b7;
	}

	#addcard-tabs .tab-pane {
		background-color: transparent;
		/*padding:20px 20px 20px 40px;	*/
		padding:15px 15px;
	}
	
	#addcard-tabs .tab-pane#add-note {
		background-color: transparent;
		padding:20px 40px;	
	}
	
/* Load Custom Menu Lightbox */
	#loadcustommenu-lightbox {
		width:470px;	
		display:none;
	}

	#loadcustommenu-tabs .nav > li {
		width:250px;
		height:56px;	
		float:left;
	}
	
	#loadcustommenu-tabs .nav > li > a {
		text-align:center;
		line-height:56px;
		padding:0;	
		text-transform:uppercase;
		border-radius:0;
		margin-right:0;
		transition:all 0.2s ease 0s;
	}
	
	#loadcustommenu-tabs .tab-pane {
		background-color:transparent;
		padding:20px 20px 20px 20px	
	}
	
	#loadcustommenu-tabs .nav > li.lightbox-close {
		width:90px;
		height:56px;
		float:right;
		padding-top: 20px;		
		color: #fff;
		cursor:pointer;
	}
	
	#loadcustommenu-tabs .nav > li.lightbox-close:hover {
		color:#022241;
		font-weight: 800;
	}	
	
	.loadcustommenu-wait {
		background-image:url(../img/ajax-loader.gif);
		background-position:center 220px;
		background-repeat:no-repeat;
		width:100%;
		padding-top:180px;
		height:300px;
		text-align:center;
		text-transform:uppercase;
		font-size:14px;
		color:#aaaaaa;
	}
	
	.loadcustommenu-empty {
		width:100%;
		padding-top:220px;
		height:400px;
		text-align:center;
		color:#aaaaaa;
		font-size:22px;	
	}
	
	.custommenu {
		color: #222222;
		cursor: pointer;
		padding: 10px 15px 10px 0;	
	}
	
	.custommenu:hover {		
	    color: #1aa6b7;	
	}
	
	.custommenu-wrapper {
		position:relative;
		width:100%;	
		border-bottom:1px solid #ddd;
		padding-right:30px;
		font-size:13px;
	}
	
	.custommenu-delete {
		width:25px;
		height:25px;
		line-height:23px;
		position:absolute;
		right:0;
		top:8px;	
		color:#1aa6b7;
		background-color:#ffffff;
		text-align:center;				
		cursor:pointer;
		font-size:24px;
		transition:all 0.2s ease 0s;
		border:1px solid #1aa6b7;
		border-radius:25px;
		padding-left:1px;
	}
	
	.custommenu-delete:hover,
	.custommenu-delete:focus {
		background-color:#f00;
		border:1px solid #f00;
		color:#ffffff;
	}
	
/* OPTIONS*/
	#options{
		/*padding-top: 14px;*/
		padding-bottom: 200px;
	}
	
	#options form{
		display:inline-block;
	}	
	
	#options input[type="checkbox"],
	#usersettings input[type="checkbox"],
	#createmenu-saving-wrapper input[type="checkbox"] {
		margin-top: 0px;
		margin-right: 8px;
	}	
	
	#number-picker{
		margin-top: 10px;
	}
	
	.dp-numberPicker, .dp-numberPicker-add, .dp-numberPicker-sub, .dp-numberPicker-input {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 50px;
		text-align: center;
		line-height: 50px;
		vertical-align: top;
	}
	.dp-numberPicker {
		box-shadow: 0 0 5px rgba(255,255,255,0.5);
		border-radius: 3px;
	}
	.dp-numberPicker-add, .dp-numberPicker-sub {
		width: 50px;
		font-size: 25px;
		cursor: pointer;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		background-color: #9e0303;
		color: white;
		font-weight: 700;
		text-shadow: 1px 1px 1px rgba(50,50,50,0.5);
	}
	.dp-numberPicker-add {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5),  inset -1px -1px 1px rgba(0,0,0,0.5);
	}
	.dp-numberPicker-sub {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5),  inset 0px -1px 1px rgba(0,0,0,0.5);
	}
	.dp-numberPicker-sub.disabled, .dp-numberPicker-add.disabled {
		background-color: #2c6a81;
	}
	.dp-numberPicker-input {
		width: 100px;
		font-size: 18px;
		background-color: #232425;
		color: white;
		border: 0;
		box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3),  inset 0px -1px 1px rgba(0,0,0,0.5);
	}
	.dp-numberPicker-input:disabled {
		background-color: #232425;
	}
	
	.dp-numberPicker-add, .dp-numberPicker-sub {
		background-color: #c30712;
		width: 42px;
		height: 42px;
		box-shadow: none;
		-webkit-border-radius: 0px !important;
		border-radius: 0px !important;		
		line-height: 41px;
	}
	
	.dp-numberPicker-add:hover, .dp-numberPicker-sub:hover {
		background-color: #c30712;
	}	
	
	.dp-numberPicker-input {
		height: 42px !important;
		width: 70px;
		color: #000;
		background-color: #fff;
		box-shadow:none;
		border-top: 1px solid #ddd !important;
		border-bottom: 1px solid #ddd !important;
		border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		line-height: 41px;
	}
	
	.dp-numberPicker-input:hover,
	.dp-numberPicker-input:active {
		border-top:1px solid #c30712 !important;
		border-bottom:1px solid #c30712 !important;
	}
	
	#excludedIngredientAdd,
	#excludedIngredientAddFirst {		
		outline: none;
		border-radius: 0px;
		max-width:300px;
		width: 100%;
		border:2px solid #000;	
	}	
	
	#excludedIngredientList,
	#excludedIngredientListFirst {
		max-width: 300px;
		height: 300px;
		overflow: auto;
		margin-top: 10px;		
		border: 2px solid #cccccc;
		border-radius: 0px;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;	
	}

	#excludedIngredientList div,
	#excludedIngredientListFirst div {
		padding: 10px;
	
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;	
	
	}	
	
	#excludedIngredientList div:hover,
	#excludedIngredientListFirst div:hover {
		background-color: #1aa6b7;
		cursor: pointer;
	}	
	
	#excludedIngredientList div:hover:after,
	#excludedIngredientListFirst div:hover:after {
		content: "x";
		float: right;
		color: red;
	}	
	
	.ui-autocomplete.ui-widget-content {
		background: #fff;
		padding: 10px;
		width: auto;
	}
	
	.ui-autocomplete.ui-widget-content:hover {
		cursor: pointer;
	}	
	
/* LIGHTBOX */
	.overlay {
		z-index:20000;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		display:none;
	}
	
	.overlay.firsttime-overlay {
		background-color:#1aa6b7;
	}
	
	.overlay-2 {
		z-index:30000;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		display:none;	
	}
	
	.overlay-3 {
		z-index:40000;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		display:none;
		background:rgba(0,0,0,0.8);	
	}
	
	.highlight_price {
		color:#f00;
		font-size:20px;
		font-weight:bold;	
	}
	
	.lightbox {
		position:relative;
		z-index:21000;
		/*width:1170px;
		height:574px;*/
		box-shadow:0 0 10px #cccccc;
		background-color:#ffffff;
		margin-left:auto;
		margin-right:auto;
		top:50%;	
		/*width:970px;*/
		width:1235px;
		height:574px;
		margin-top:-287px;
	}
	
	.lightbox-2 {
		position:relative;
		z-index:31000;
		width:800px;
		box-shadow:0 0 10px #cccccc;
		height:550px;
		background-color:#ffffff;
		margin-left:auto;
		margin-right:auto;
		margin-top:-275px;
		top:50%;
	}
	
	.lightbox-2-title {
		width:610px;	
		float:left;
		padding:15px;
		text-transform:uppercase;
		color:#1aa6b7;
		font-size:20px;
		min-height:56px;
	}
	
	.lightbox-2-content {
		width:100%;
		padding:0 15px 0 15px;
		height:472px;			
		overflow:auto;
	}
	
	@media( max-width:997px ) {
		
		.lightbox-2-content { 
			height:330px;	
		}
		
		.lightbox-2 {
			width:700px;
			height:400px;
			margin-top:-200px;
		}
		
		.addrecipe-rest {
			height:175px;	
		}
		
		.wpurp-nutrition-label {
			font-size: 13px;
		}
	}
	
	.lightbox-3 {
		position:relative;
		z-index:41000;
		max-width:600px;
		width: 100%;
		box-shadow:0 0 10px #222;
		margin-left:auto;
		margin-right:auto;
		margin-top:0;
		top:50%;
		transform:translateY(-50%);
		background: #3abdeb;
		background: -moz-linear-gradient(top, #3abdeb 0%, #5758e4 100%);
		background: -webkit-linear-gradient(top, #3abdeb 0%,#5758e4 100%);
		background: linear-gradient(to bottom, #3abdeb 0%,#5758e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3abdeb', endColorstr='#5758e4',GradientType=0 );
	}
	
	.lightbox-3-header {
		margin-bottom:0px;
	}
	
	.lightbox-3-title {
		width:100%;	
		padding:10px 15px;
		color:#fff;
		font-size:30px;
		min-height:56px;
		text-align:center;		
	}
	
	.lightbox-3-content {
		width:100%;
		padding:0px 15px 0px;
		text-align:left;	
		color:#fff;
	}
	
	.lightbox-3-content ul {
		padding:0;	
	}
	
	.lightbox-3-content li {
		min-height: 30px;
		list-style-type:none;	
		margin-bottom:10px;
		background-image:url(../img/tick.png);
		background-repeat:no-repeat;
		background-position:left 3px;
		padding-left:35px;
		background-size:25px 25px;
	}
	
	.lightbox-3-input {
		padding:5px 15px 15px;	
		text-align:center;
	}
	
	.lightbox-3-input .savebutton {
		width:auto;	
		display:inline-block;
		padding:0 70px;
		float:none;
		border-radius:100px;
		background-color:#fff;
		color:#4d61e2;
	}
	
	.addrecipe-thumbnail {
		width:98px;
		height:98px;
		float:left;
		border:1px solid #ddd;
		margin-bottom:5px;
		background-size: cover;
	}
	
	.addrecipe-header {
		border-bottom:1px solid #ddd;	
	}
	
	.addrecipe-belt {
		padding-bottom:5px;
		border-top:1px solid #dddddd;
		border-bottom:1px solid #dddddd;	
		padding-top:5px;
		margin-bottom:5px;
		position:relative;
		text-align:right;
	}
	
	.addrecipe-belt .searchrecipe-addbutton {
		position:static;
		display:inline-block;
	}
	
	.addrecipe-belt .fav {
		margin-top:6px;	
	}
	
	.lightbox-2-input {
		display:none;	
	}
	
	.addrecipe-topmeta {
		float:left;	
		padding-left:15px;
	}
	
	.addrecipe-cat {
		color:#888888;	
		text-transform:uppercase;
	}
	
	.addrecipe-rest {
		padding-top:15px;
		height:auto;
		overflow-y:scroll;
		border-bottom:1px solid #dddddd;
		padding-bottom:15px;
	}
	
	#addmenu-lightbox,
	#addcard-lightbox,
	#dailymacros-lightbox,
	#wizard-lightbox {
		display:none;	
	}
	
	#dailymacros-lightbox {
		width:330px;
		text-align:center;	
	}
	
	#dailymacros-title-wrapper {
		height: 56px;
		line-height:56px;
		padding-left:15px;
		padding-right:50px;
		background-color:#1aa6b7;
		text-transform:uppercase;
		color:#ffffff;	
		position:relative;
	}
	
	#dailymacros-content {
		padding:15px 15px;	
	}
	
	#dailymacros-lightbox .lightbox-close {
		width: 50px;
		height: 56px;
		position:absolute;
		top:0;
		right:0;
		cursor:pointer;
		text-align:center;
	}
	
	#dailymacros-lightbox .lightbox-close:hover {
		color:#022241;
		font-weight: 800;	
	}
	
	#wizard-lightbox {
		box-shadow:0 0 10px #0a8190;	
	}
	
	#addcard-tabs .nav > li.lightbox-close,
	#wizard-lightbox .lightbox-close {
		width:90px;
		height:56px;
		float:right;
		padding-top: 20px;		
		color: #fff;
		cursor:pointer;
	}
	
	#wizard-lightbox .lightbox-close {
		padding-left:40px;
		padding-top: 0px;		
		text-align:center;	
	}
	
	#addcard-tabs .nav > li.lightbox-close:hover,
	#wizard-lightbox .lightbox-close:hover {
		color:#022241;
		font-weight: 800;
	}	
	
	.inner-lightbox-close, .lightbox-sales-close {
		width:60px !important;
		height:56px;
		float:right !important;
		background-image:url(../img/lightbox-close.png);
		background-repeat:no-repeat;
		background-position: 0 0;	
		cursor:pointer;
	}
	
	.lightbox-3-close  {
		width:60px !important;
		height:73px;
		position:absolute;
		top:0;
		right:0;
		background-image:url(../img/freeuserlightboxclose.png);
		background-repeat:no-repeat;
		background-position: 0 center;	
		cursor:pointer;		
	}
	
	.lightbox-3-close:hover,
	.lightbox-3-close:focus {
		background-position:-60px center;	
	}

	.searchrecipe {
		/*width:170px;*/
		/*float:left;*/
		/*margin-right:30px;
		margin-bottom:50px;*/
		background-repeat:no-repeat;
		background-size:cover;	
		background-position:center center;
		position:relative;	
		/*height:166px;	*/
		margin-right:10px;
		margin-bottom:10px;
		width:280px;
		height:273px;
		display:inline-block;
		cursor:pointer;
	}
	
	.searchrecipe-overlay {
		position:absolute;
		width:100%;
		bottom:0;
		background-color:rgba(0,0,0,0.5);
		padding:5px 15px;
		color:#ffffff;
		font-size:14px;	
		text-align:center;
	}
	
	#searchrecipe-submit,
	#addmenu-submit,
	#editmenu-submit {
		background-color:#1aa6b7;
		color:#ffffff;
		font-size:16px;
		height:42px;
		padding:10px 21px;
		line-height:22px;
		/*float:left;*/
		cursor:pointer;
		transition:all 0.2s ease 0s;
		border-radius:0;
		font-weight: 300;
		text-align:center;
		width:185px;
		position:absolute;
		right:0;
		top:0;
	}
	
	#searchrecipe-input,
	#addmenu-input,
	#editmenu-input {
		/*width:770px;*/
		height:42px;
		border:1px solid #dddddd;
		/*margin-right:30px;*/
		line-height:42px;
		/*float:left;*/
		border-radius:0;
		padding:10px 15px;
		/*boo*/
		/*width:671px;	*/
		width:100%;
		margin-bottom:0px;			
	}
	
	#searchrecipe-formitself,
	#editmenu-formitself {
		position:relative;	
		/*padding-left:195px;*/
		padding-right:200px;
	}
	
	#searchrecipe-cat {
		width:180px;	
		/*float:left;*/
		height:42px;
		border:1px solid #dddddd;
		border-radius:0;
		margin-right:15px;
		background-image:url(../img/selectarrow.png);
		background-repeat:no-repeat;
		background-position:right center;	
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		padding-right:35px;
		padding-top: 0px;
		padding-bottom: 0px;	
		
		position:absolute;
		top:0;
		left:0;	
	}
	
	#searchrecipe-input {
		/*width:471px;	*/
	}
	
	#searchrecipe-submit:hover,
	#addmenu-submit:hover,
	#editmenu-submit:hover {
		background-color:#1ab6b7;	
	}
	
	#searchrecipe-submit:focus,
	#searchrecipe-submit:active,
	#addmenu-submit:focus,
	#addmenu-submit:active,
	#editmenu-submit:focus,
	#editmenu-submit:active {
		background-color:#1aa6b7;
		border:none;
	}
	
	#searchrecipe-message {
		display: none;
		height:40px;
		line-height:40px;
		text-align:center;	
	}
	
	#searchrecipe-stage {		
		/*height:440px;*/
		height:400px;
		border:1px solid #dddddd;
		padding:15px 5px 15px 15px;
		overflow-y:scroll;
		position:relative;
	}
	
	.searchrecipe-stage,
	.favoriterecipes-stage {
		padding-bottom:50px;	
		position:relative;
	}
	
	#favoriterecipes-stage {
		/*height:440px;	*/
		height:406px;
		margin-top:82px;
		border:1px solid #dddddd;
		padding:15px 5px 15px 15px;
		overflow-y:scroll;
		position:relative;
		
		height:488px;
		margin-top:0px;
	}
	
	.favoriterecipes-stage {
		padding-bottom:50px;	
	}
	
	#addmenu-stage,
	#editmenu-stage {
		margin-top:40px;
		overflow:auto;
		border:1px solid #dddddd;
		padding:15px;
		height:406px;
		position:relative;
	}
	
	#loadcustommenu-stage {
		overflow:auto;
		border:1px solid #dddddd;
		padding:15px;
		height:480px;
	}
	
	.searchrecipe-wait,
	.favoriterecipes-wait {
		background-image:url(../img/ajax-loader.gif);
		background-position:center 140px;
		background-repeat:no-repeat;
		width:100%;
		padding-top:180px;
		height:400px;
		text-align:center;
		text-transform:uppercase;
		font-size:14px;
		color:#aaaaaa;
	}
	
	.searchrecipe-infinite-wait,
	.favoriterecipes-infinite-wait {
		background-image:url(../img/ajax-loader.gif);
		background-position:center;
		background-repeat:no-repeat;
		width:100%;
		height:50px;
		position:absolute;
		bottom:0;
	}
	
	.searchrecipe-infinite-wait.theend,
	.favoriterecipes-infinite-wait.theend {
		background:none;
		text-align:center;
		text-transform:uppercase;
		font-size:14px;
		color:#aaaaaa;
	}
	
	.searchrecipe-empty {
		/*width:930px;
		padding-top:220px;
		height:400px;*/
		text-align:center;
		color:#aaaaaa;
		font-size:22px;	
		width:90%;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
	}
	
	.addmenu-wait,
	.editmenu-wait {
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;	
		text-align:center;
		color:#aaaaaa;
		font-size:22px;	
		width:90%;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		padding-top:56px;
	}

	.generic-wait {
		background-color: #fff;
		background-image:url(../img/ajax-loader.gif);
		background-position:center center;
		background-repeat:no-repeat;
		width:100px;
		height:100px;
		border-radius:100px;
		text-align:center;
		color:#aaaaaa;
		font-size:22px;
		box-shadow: 0 0 10px #1aa6b7;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		top: 50%;
		margin-top: -50px;
	}	
	
	.generic-wait-background {
		background-color: rgba(0,0,0,0.5);
	}		
	
	.addmenu-empty,
	.editmenu-empty {
		color: #aaaaaa;
		font-size: 22px;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 90%;
	}
	
	.searchrecipe-addbutton {
		position:absolute;
		top:15px;
		right:15px;
		/*width:100%;
		height:100%;
		background-image:url(../img/recipeadd.png);
		background-size:cover;	
		background-color:rgba(0,0,0,0.5);
		opacity:0;*/
		z-index:1;
		transition:all 0.2s ease 0s;
		cursor:pointer;
		padding:5px 10px 5px 30px;
		background-color:#1aa6b7;
		background-image:url(../img/spoon.png);
		background-position:left center;
		background-repeat:no-repeat;
		color:#ffffff;
		border-radius:4px;
	}
	
	.searchrecipe-addbutton:hover,
	.searchrecipe-addbutton:focus {
		background-color:#1ab6b7;	
	}
	
	.searchrecipe-addbutton.onadd {
		transition:background 1s ease 0s;
		background-color:#ffffff;		
		color:#222222;	
		padding:5px 10px 5px 10px;
	}
	
	.searchrecipe-addbutton.onspin {
		transition:background 1s ease 0s;
		background-image:url(../img/smallspinner.gif);	
		padding:5px 10px 5px 30px;
	}
	
	.searchrecipe-fav {
		position:absolute;
		top:15px;
		left:15px;
		cursor:pointer;
		z-index:1;
		color:#fe424d;
		padding:5px 5px;
		background-color:#fff;
		border-radius:4px;
		transition:all 0.2s ease 0s;
		font-size:19px;
	}
	
	.searchrecipe-fav .glyphicon-heart-empty {
		transition:all 0.2s ease 0s;
		color:#ffa0a6;	
	}
	
	.searchrecipe-fav:hover .glyphicon-heart-empty {
		color:#fe424d;
	}
	
	.searchrecipe:hover .searchrecipe-addbutton {
		/*opacity:1;	*/
	}
	
	.nav-numbered {
		display:inline-block;
		cursor:pointer;	
		width:40px;
		height:40px;		
		text-align:center;
		line-height:38px;
		background-color:#ffffff;
		color:#1aa6b7;
		border:1px solid #1aa6b7;
	}
	
	.lightbox .nav-numbered {
		line-height:38px !important;	
	}
	
	.nav-numbered:first-child {
		border-left:1px solid #1aa6b7;
	}
	
	.nav-numbered.static {
		cursor:default;	
		color:#ffffff;
		background-color:#1aa6b7;
	}
	
	.nav-numbered.disabled {
		cursor:default;	
		background-color:#eeeeee;
		color:#cccccc;
		border:1px solid #eeeeee;
	}
	
	.nav-numbered:hover {
		background-color:#b6dc61;	
		color:#ffffff;
	}
	
	.nav-numbered.static:hover {
		background-color:#1aa6b7;
	}
	
	.nav-numbered.disabled:hover {
		background-color:#eeeeee;
		color:#cccccc;
	}
	
	.paging-wrapper {		
		 text-align:center;
	}
	
	#addnotes-textarea {
		background-color:#ffffff;
		border:1px solid #dddddd;
		border-radius:0;
		color:#222222;
		padding:20px;
		width:100%;
	}
	
	#addnotes-button {
		float:none;	
		margin-top: 30px;
	}
	
	.searchmenu {
		color:#222222;
		padding:10px 15px;	
		display:inline-block;	
		margin-bottom:10px;	
		cursor:pointer;
	}
	
	.searchmenu:hover {
		background-color:#1aa6b7;
		color:#ffffff;
	}
	
	#options label,
	#usersettings label {		
		font-weight:normal;
		font-size:18px;
		margin-top:8px;
		float:left;
		margin-right:20px;
	}
	
	#usersettings .pane-numberpicker label {	
		font-size:15px;
		font-weight:bold;
	}
	
	.pane-block {
		margin:0 0 40px 0;
	}
	
	.pane-row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.pane-numberpicker label {
		float:none !important;
		display:block;
	}
	
	#options .icheckbox_minimal,
	#usersettings .icheckbox_minimal,
	#createmenu-saving-wrapper .icheckbox_minimal {
		float:left;
		width:16px;
		height:16px;	
		margin-top:13px;
		background-image: url(minimal/minimal@2x.png);
		-webkit-background-size: 160 16px;
		background-size: 160px 16px;
		margin-right:10px;
	}
	
	#recipesdetail-accordion .icheckbox_minimal {
		float:right;
		width:16px;
		height:16px;	
		margin-top:4px;
		background-image: url(minimal/minimal@2x.png);
		-webkit-background-size: 160 16px;
		background-size: 160px 16px;
		margin-left:10px;
	}
	
	#recipesdetail-stage {
		padding-top:10px;	
	}
	
	#recipesdetail-stage .icheckbox_minimal {
		float:right;
		width:16px;
		height:16px;	
		margin-top:4px;
		background-image: url(minimal/minimal@2x.png);
		-webkit-background-size: 160 16px;
		background-size: 160px 16px;
		margin-left:10px;
	}
	
	#recipesdetail > .savewrapper > .icheckbox_minimal {
		float:left;
		width:16px;
		height:16px;	
		margin-top:4px;
		background-image: url(minimal/minimal@2x.png);
		-webkit-background-size: 160 16px;
		background-size: 160px 16px;
		margin-right:5px;
		background-color:#ffffff;
	}
	
	#recipesdetail > .savewrapper > label {
		float:left;
	}
	
	#recipesdetail {
		min-height:500px;	
	}
	
	#options .icheckbox_minimal,
	#usersettings .icheckbox_minimal,
	#createmenu-saving-wrapper .icheckbox_minimal,
	#recipesdetail-accordion .icheckbox_minimal,
	#recipesdetail-stage .icheckbox_minimal,
	#recipesdetail > .savewrapper > .icheckbox_minimal {
		background-image: url(minimal/minimal@2x.png);
		background-position: -80px 0;
	}
	#options .icheckbox_minimal.hover,
	#usersettings .icheckbox_minimal.hover,
	#createmenu-saving-wrapper .icheckbox_minimal.hover,
	#recipesdetail-accordion .icheckbox_minimal:hover,
	#recipesdetail-stage .icheckbox_minimal:hover,
	#recipesdetail > .savewrapper > .icheckbox_minimal:hover {
		background-position: -80px 0;
	}
	#options .icheckbox_minimal.checked,
	#usersettings .icheckbox_minimal.checked,
	#createmenu-saving-wrapper .icheckbox_minimal.checked,
	#recipesdetail-accordion .icheckbox_minimal.checked,
	#recipesdetail-stage .icheckbox_minimal.checked,
	#recipesdetail > .savewrapper > .icheckbox_minimal.checked {
		background-position: -112px 0;
	}
	#options .icheckbox_minimal.disabled,
	#usersettings .icheckbox_minimal.disabled,
	#createmenu-saving-wrapper .icheckbox_minimal.disabled,
	#recipesdetail-accordion .icheckbox_minimal.disabled,
	#recipesdetail-stage .icheckbox_minimal.disabled,
	#recipesdetail > .savewrapper > .icheckbox_minimal.disabled {
		background-position: -126px 0;
		cursor: default;
	}
	#options .icheckbox_minimal.checked.disabled,
	#usersettings .icheckbox_minimal.checked.disabled,
	#createmenu-saving-wrapper .icheckbox_minimal.checked.disabled,
	#recipesdetail-accordion .icheckbox_minimal.checked.disabled,
	#recipesdetail-stage .icheckbox_minimal.checked.disabled 
	#recipesdetail > .savewrapper > .icheckbox_minimal.checked.disabled {
		background-position: -142px 0;
	}
	
	.img-print {
		display:none;
	}
	
	#createmenu-menubar {
		border-bottom:1px solid #bbbbbb;	
	}
	
	#deletemenu.roundbutton {
		float:right;
		border:1px solid #df1616;
		color:#df1616;
		margin-right:0;
		display:none;
	}
	
	#deletemenu.roundbutton:hover {
		background-color:#df1616;
		color:#ffffff;			
	}
	
	.tabtitle-print, .print-logo {
		display:none;
	}
	
	#createmenu-input-wrapper {
		margin-top:20px;
		margin-bottom:20px;	
	}
	
	#menuname-input-wrapper {
		padding-left:0px;	
	}
	
	#menuname-input-wrapper label,
	#diet-input-wrapper label,
	#menupublishdate-input-wrapper label {
		font-size:14px;
		display:block;
		margin-bottom:15px;	
		font-weight:normal;
	}
	
	#menupublishdate-input-wrapper {
		padding-right:0;	
	}
	
	#menupublishdate-input-wrapper img {
		cursor:pointer;	
		margin-top:5px;
	}
	
	#menuname-input,
	#diet-input,
	#createmenu_selectDate,
	#groupshare_selectDate,
	#selectShare {
		width:100%;
		height:42px;
		border:1px solid #dddddd;
		background-color:#ffffff;		
		color:#222222;
		margin-right:30px;		
		float:left;
		border-radius:0;
		padding:10px 15px;	
		margin-bottom:0;
		margin-top: 5px;
	}	
	#createmenu_selectDate {
		float:right;
		width:320px;
		margin-right:0;
		text-align:center;
	}
	
	#groupshare_selectDate {
		width: 200px;
		margin-right: 0px;
		text-align:center;
	}
	
	#groupshare-input-wrapper {
		clear:both;
		margin-top:80px;	
	}
	
	#groupshare-input-wrapper img{
		margin-left: 10px;
		margin-top:0px;
	}	
	
	#selectShare {
		width:100px;
		float:none;
		margin-left: 20px;
		margin-top:5px;	
		background-image:url(../img/selectarrow.png);
		background-repeat:no-repeat;
		background-position:right center;	
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		padding-right:30px;
	}
	
	#diet-input {
		background-image:url(../img/selectarrow.png);
		background-repeat:no-repeat;
		background-position:right center;	
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		padding-right:30px;
	}
	
	#createmenu-saving-wrapper {
		margin-top:30px;
		margin-bottom: 30px;
	}
	
	#createmenu-saving-wrapper label {
		float: left;
		font-size: 18px;
		font-weight: normal;
		margin-right: 20px;
		margin-top: 8px;	
		color:#1aa6b7;
	}
	
	#checkShare-wrapper {
		float:right;
	}	
	
	.stepcontent {
		margin-bottom: 14px;	
	}
	
	#searchrecipe-catbox-wrapper {
		text-align:left;
		padding-top:10px;
		padding-bottom:5px;
	}
	
	.searchrecipe-catbox {
		display:inline-block;
		padding:5px 8px 3px 8px;
		background-color:#eee;
		color:#222222;
		border-radius:4px;	
		margin:0 5px 5px 0;
		font-size:12px;
		cursor:pointer;
		transition:all 0.2s ease 0s;
	}
	
	.searchrecipe-catbox.active {
		background-color:#fe424d;
		color:#ffffff;	
	}
	
	.searchrecipe-catbox:hover {
		background-color:#cccccc;
		color:#222222;	
	}
	
	.searchrecipe-catbox.active:hover {
		background-color:#fe424d;
		color:#ffffff;	
	}
	
	@media( max-width:767px ) {
		#selectShare {
			margin-left:0px;	
			margin-bottom:5px;
		}
		
		#groupshare_selectDate {
			margin-bottom:10px;	
		}
		
		#checkShare-wrapper {
			float:none;	
		}
		
		#groupshare-input-wrapper img {
			margin-top:10px;	
		}
	}
	
/* MODAL */
	.modalbox {
		position:relative;
		z-index:21100;
		width:200px;
		box-shadow:0 0 10px #666;
		height:115px;
		background-color:#ffffff;
		margin-left:auto;
		margin-right:auto;
		margin-top:-52px;
		top:50%;	
		display:none;
		padding:20px;
		font-size:14px;
		border-radius:4px;
		border-top:4px solid #1aa6b7;
	}
	
	.modal-scrutiny {
		position:relative;	
	}
	
	.textinputModal-error {
		position:absolute;
		right:0;
		color:#f00;
		font-size:13px;
			
	}
	
	#yesnoModal {
		width:300px;	
	}
	
	#yesnoModal2 {
		width:300px;	
	}
	
	#static-modal {
		width:250px;
		border-top:4px solid #e5b718;
	}
	
	#textinputModal {
		width:300px;	
	}
	
	#textinputModal-input {
		width:100%;	
	}
	
	.modal-action {
		text-align:center;	
		margin-top:20px;
	}
	
	.modalbtn {
		width:80px;
		height:30px;
		line-height:30px;
		border-radius:2px;
		border:1px solid  #ccc;
		background-color:#eee;
		display:inline-block;
		margin-right:10px;	
		cursor:pointer;
		transition:all 0.2s ease 0s;
	}
	
	.modalbtn:hover {
		background-color:#cccccc;	
	}
	
	.modalbtn:last-child {
		margin-right:0;	
	}
	
	.modal-default {
		background-color:#1aa6b7;
		border:1px solid #1aa6b7;
		color:#ffffff;	
	}
	
	.modal-default:hover {
		background-color:#1ab6b7;
		border:1px solid #1ab6b7;
		color:#ffffff;	
	}
	
	#static-modal .modal-default {
		background-color:#e5b718;
		border:1px solid #e5b718;
		color:#ffffff;	
	}
	
	.modal-default:hover {
		background-color:#64821f;
		border:1px solid #64821f;
		color:#ffffff;	
	}
	
	#static-modal .modal-default:hover {
		background-color:#c8a322;
		border:1px solid #c8a322;
		color:#ffffff;	
	}
	
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
	
	
	.overlay-2 {
		
	}

	#recipesdetail-accordion {
		padding-bottom:40px;	
	}

	#recipesdetail-accordion .accordion-heading {
		color:#222222;
		font-weight:700;
		font-size:18px;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:1px solid #dddddd;
	}

	#recipesdetail-accordion .accordion-group:last-child .accordion-heading {
		border-bottom:none;		
	}

	#recipesdetail-accordion .accordion-body {
		padding-left:40px;	
	}

	#recipesdetail-accordion .addrecipe-rest {
		height:auto;
		overflow:inherit;	
		background-color:#ffffff;
		border-left:1px solid #dddddd;
		border-right:1px solid #dddddd;
		border-bottom:1px solid #dddddd;
		padding:20px 15px;
		margin-bottom:40px;
	}

	#recipesdetail-accordion .addrecipe-header {
		background-color:#f4f4f4;
		padding:10px;
	}

	#recipesdetail-accordion .addrecipe-topmeta {
		padding-left:10px;	
	}

	#recipesdetail-accordion .accordion-heading a {
		color:#222222;	
	}

	.fav {
		background-image:url(../img/fav.png);		
		background-repeat:no-repeat;
		width:20px;
		height:20px;
		float:left;
		cursor:pointer;
		margin-top:1px;
		margin-right:10px;
	}
	
	.fav.onadd {

	}
	
	.fav.onspin {		
		background-image:url(../img/smallspinner.gif) !important;	
		background-position:center !important;
	}

	.fav.blankstar {
		background-position:0 0;	
	}

	.fav.blankstar {
		background-position:0 0;	
	}

	.fav.blankstar:hover {
		background-position:-20px 0;	
	}

	.fav.fullstar {
		background-position:-40px 0;	
	}
	
	.searchrecipe-fav .fav {
		margin:0;	
	}

	.accordion-title {
		float:left;	
	}

	.checkPrint-label {
		float:right;	
		font-weight:400;
		font-size:14px;
		margin-top:3px;
	}

	.checkPrint-label2 {
		font-weight:400;
		font-size:14px;
		margin-top:2px;
		margin-right:20px;
		vertical-align:1px;
	}

	#recipesdetail-print {
		display: none;
	}

	.pressbanner {
		width:100%;
		height:100px;	
		margin-top: 30px;
		float:left;	
		background-image:url(../img/pressbanner.jpg);	
		background-position:center center;
		background-repeat:no-repeat;	
		background-size:contain;
		border-top: 5px solid #1aa6b7;
		border-bottom: 5px solid #1aa6b7;
	}

	.pressbanner2 {
		width:100%;
		height:100px;	
		margin-top: 30px;
		float:left;	
		background-image:url(../img/pressbanner2.png);	
		background-position:center center;
		background-repeat:no-repeat;	
		background-size:contain;
		border-top: 5px solid #1aa6b7;
		border-bottom: 5px solid #1aa6b7;
	}

	body {
		overflow: hidden;
	}

/* Preloader */

	#preloader {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#fff; /* change if the mask should have another color then white */
		z-index:999999; /* makes sure it stays on top */
	}

	#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%; /* centers the loading animation horizontally one the screen */
		top:50%; /* centers the loading animation vertically one the screen */
		background-image:url(../img/status.gif); /* path to your loading animation */
		background-repeat:no-repeat;
		background-position:top center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
		padding-top: 70px;
		text-align: center;
	}

/* MENU CREATOR CONTROL */

	#createmenu-menubar {
		   
		height: 140px;
		background-color: #1aa6b7;
		position: relative;
	}
	
	#editor-title {
		color: #fff;
		font-size: 30px;
		font-family: HollieScriptPro, serif;
		margin-top: 30px;
		margin-left: 50px;		
		display: inline-block;		
		float:left;
		width: 100%;
	}	

	.roundbutton {
		float:left;
		margin-right:10px;
		font-size:14px;
		color:#fff;
		margin-top: 15px;
		margin-left: 50px;
		transition:all 0.2s ease 0s;
		cursor:pointer;
	}
	
	.roundbutton:hover {
		color:#022241;	
	}
	
	#miseenplace {
		padding: 20px;
		border: 1px solid #ffb347;
		background-color: #ffcc99;
		margin-bottom: 20px; 
		margin-top: 10px;	
	}
	
	#recipelistinfo {
		padding: 20px;
	    border: 1px solid #dadada;
	    background-color: #eee;
	    margin-bottom: 20px;
	    margin-top: 10px;
	}
	
	.recipe-header, .recipe-thumbnail, .recipe-content, .notes-handle, .notes-content {
		cursor: move;
	}
	
	
	.step-done { 
		text-align:center !important;
	}
	
	.step-done-active { 
		background-color: rgba(210, 203, 194, 0.5) !important;
	}
	
/* PDF Preview */
	#pdf-preview {
		/*visibility:hidden;	*/
	}
	
	#pdf-preview .tab-content > .tab-pane {
		display:block;	
	}
	
/* Wizard */
	.wizard-wrapper {
		position:relative;
		height:406px;			
	}

	.wizard-panel {
		width:100%;
		height:428px;
		position:absolute;
		/*display:none;	*/
		padding:40px;
	}
	
	.wizard-step {
		font-size:12px;
		color:#aaa;
	}	
	
	.wizard-panel-inner {	
		height:100%;	
		overflow:auto;	
	}
	
	#wizard5 .wizard-panel-inner {
		overflow-y:scroll;	
	}
	
	.wizard-panel-inner h3 {
		font-weight:700;
		margin-top:5px;
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:1px solid #ddd;
	}
	
	.currentwizard0 #wizard0 {
		display:block;
	}
	.currentwizard0 #wizard1,
	.currentwizard0 #wizard2,
	.currentwizard0 #wizard3,
	.currentwizard0 #wizard4,
	.currentwizard0 #wizard5 {
		display:none;	
	}
	
	.currentwizard1 #wizard1 {
		display:block;
	}
	.currentwizard1 #wizard0,
	.currentwizard1 #wizard2,
	.currentwizard1 #wizard3,
	.currentwizard1 #wizard4,
	.currentwizard1 #wizard5 {
		display:none;	
	}
	
	.currentwizard2 #wizard2 {
		display:block;
	}
	.currentwizard2 #wizard0,
	.currentwizard2 #wizard1,
	.currentwizard2 #wizard3,
	.currentwizard2 #wizard4,
	.currentwizard2 #wizard5 {
		display:none;	
	}
	
	.currentwizard3 #wizard3 {
		display:block;
	}
	.currentwizard3 #wizard0,
	.currentwizard3 #wizard1,
	.currentwizard3 #wizard2,
	.currentwizard3 #wizard4,
	.currentwizard3 #wizard5 {
		display:none;	
	}
	
	.currentwizard4 #wizard4 {
		display:block;
	}
	.currentwizard4 #wizard0,
	.currentwizard4 #wizard1,
	.currentwizard4 #wizard2,
	.currentwizard4 #wizard3,
	.currentwizard4 #wizard5 {
		display:none;	
	}
	
	.currentwizard5 #wizard5 {
		display:block;
	}
	.currentwizard5 #wizard0,
	.currentwizard5 #wizard1,
	.currentwizard5 #wizard2,
	.currentwizard5 #wizard3,
	.currentwizard5 #wizard4 {
		display:none;	
	}
	
	#wizard-save {
		display:none;	
	}
	
	.wizard-footer .savebutton {
		margin-right:0px;		
		margin-left:10px;
	}
	
	.currentwizard0 #wizard-back {
		display:none;	
	}
	
	.currentwizard5 #wizard-next {
		display:none;	
	}
	
	.currentwizard5 #wizard-save {
		display:inline-block;	
	}
	
	.wizard-panel #excludedIngredientListFirst {
		height:100px;			
	}
	
	.wizard-panel input[type="checkbox"] {
		margin-right: 8px;
		margin-top: 0;
	}
	
	.wizard-panel label {
		margin-left:8px;	
	}
	
	.wizard-panel #dietOptions > div,
	.wizard-panel #excludedCategoriesOptions > div {
		float:none !important;	
	}
	
	.wizard-header {
		/*background-color:#1aa6b7;	*/
		line-height:56px;
		text-align:center;
		text-transform:uppercase;	
		font-size:14px;
		color:#1aa6b7;
		
	}
	
	.wizard-float {
		position:absolute;
		width:100%;
		padding:0 15px;
		top:50%;
		transform:translateY(-50%);
		text-align:center;
	}
	
	#wizard0 {
		padding:0 !important;
	}
	
	#wizard0 h1 {
		font-size:60px;	
	}
	
	.wizard-footer {
		text-align:right;
		padding:15px 40px;	
	}
	
	.wizard-footer .savebutton {
		display:inline-block;	
		float:none;
		width:auto;
		padding:0 30px;
	}
	
	.wizard-error {
		color:#f00;
		text-align:center;
		height:22px;
		margin-bottom:0px !important;
		display:inline-block;
		width:100%;	
	}
	
	.addrecipe-longcontent .wprm-nutrition-label {
		margin-bottom: 25px;
	}
	
	.addrecipe-longcontent .wprm-nutrition-label {
	   max-width: 300px;
		width: 100%;
    }
    
    .recipe-insight {
	    max-height: 500px;
	    overflow-y: auto;
	}
	
	.dailymacros-title {
		padding-left: 25px;
	}
	
	@media( max-width:767px ) {
		.recipe-insight {
			width: 250px;
			margin-left: -195px;	
		}
	}
	
/* MENU PLANNER NEW 30 04 2019 */
	
	/* Card */
	#planpanel {
		display:flex;	
		flex-direction:row;
		flex-wrap:wrap;
		overflow:auto;
	}
	
	.mymenu-day {
		flex:1 0 13%;
		max-width:14%;			
		background-color:#f1f5f5;
		border-radius:5px;
		border-left:1px solid #e8e8e8;
		border-right:1px solid #e8e8e8;
		border-bottom:1px solid #e8e8e8;
		padding-top:0px;
		margin-top:0px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.active-warning {
		border:1px solid #f00;
	}
	
	.stage-warning {
		color:#f00;
		padding:10px 0;
		border-radius:4px;
		font-size:11px;
	}
	
	#mymenu-sunday {
		border-left:1px solid #e8e8e8;	
	}
	
	.mymenu-date {
		position:static;	
		width:auto;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		background-color:#ffffff;
		border-bottom:1px solid #e8e8e8;
		border-top:1px solid #e8e8e8;
		padding:5px 7px;
		font-size:13px;
		font-weight:400;
		color:#aaaaaa;
	}
	
	.mymenu-date .bold {
		color:#444444;	
	}
	
	.addcard {
		position:static;	
	}
		
	.mymenu-stage {
		margin:0;	
		padding:7px 7px 40px 7px;
	}
	
	.recipe {
		float:none;
		margin-right:0px;
		position:relative;	
		border-radius:5px;
		border:1px solid #eee;
	}
	
	.recipe-header {
		background-color:transparent; 	
		height:50px;
		position:relative;
	}
	
	.recipe-content-wrapper {
		position:static;	
	}
	
	.recipe-thumbnail {
		top:0;
		left:0;
		width:100%;
		height:100%;	
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	}
	
	.recipe-content {
		margin:0;	
		padding:7px 7px;
		font-size:13px;
		float:none;
	}
	
	.recipe-hover {
		font-size:12px;
		text-align:center;
		padding:5px;
		background-color:rgba(255,255,255,0.7);
		border-radius:100px;
		transition:all 0.2s ease 0s;
		cursor:pointer;
	}
	
	.recipe-hover:hover,
	.recipe-hover:focus {
		background-color:rgba(255,255,255,0.9);	
	}
	
	.recipe-remove, .bottombar-remove, .centerbar-remove {
		top:6px;
		width:20px;	
		font-size:10px;
		text-align:center;
		padding:5px 5px 1px 5px;
		transition:all 0.2s ease 0s;
		background-color:rgba(255,255,255,0.7);
		border-radius:100px;
		cursor:pointer;
	}

	.bottombar-remove, .centerbar-remove {  
		position: absolute;
		right: 5px;
		top: 5px;
	}
	
	.recipe-remove:hover,
	.recipe-remove:focus, .bottombar-remove:hover, .bottombar-remove:focus, .centerbar-remove:hover, .centerbar-remove:focus {
		background-color:rgba(255,255,255,0.9);	
	}
	
	
	@media( max-width:997px ) {
		.mymenu-day {
			flex: 1 0 20%;
            max-width: 40%;
            margin-bottom: 40px;
		}
		
		.mymenu-date {
			float:none;
			height:auto;
			margin-bottom:0;	
		}
	}
	
	@media( max-width:767px ) {
		.mymenu-day {
			flex:1 0 30%;
			max-width:31.67%;
			margin-bottom:40px;
		}
	}
	
	@media( max-width:567px ) {
		.mymenu-day {
			flex: 1 0 100%;
            max-width: 250px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            display: block;
		}
	}
	
	/* Add / Macro Button */
	.addcard,
	.addnote {
		width:100%;
		height:auto;
		border-radius:5px;
		border:1px dashed #ddd;
		padding:7px 7px;
		background-image:none;
		background-color:#ffffff;
		color:#444;		
		font-size:13px;
		margin-bottom:10px;
		cursor:pointer;
	}
	
	.addcard:hover,
	.addnote:hover {
		background-image:none;
		background-color:#444444;
		border:1px solid #444444;
		color:#ffffff;	
	}
	
	.addcard:after {
		content:'';	
	}
	
	.dailymacros {
		height:auto;
		border-radius:5px;
		border:1px solid #32a8d9;
		padding:7px 7px;
		background-image:none;
		background-color:#32a8d9;
		color:#ffffff;		
		font-size:13px;
		position:absolute;
		height:35px;
		left:7px;
		bottom:7px;
		width:90%;
		width:calc(100% - 14px);
		text-align:center;
	}
	
	.dailymacros:hover {
		border:1px solid #66c6ee;
		background-image:none;
		background-color:#66c6ee;
		color:#ffffff;	
	}
	
	.dailymacros:after {
		content:'';	
	}
	
	
	
	/* Tab */	
	#sys-tabpanel .nav {
		background-color:transparent;
		display:flex;
		justify-content:flex-end;
		flex-wrap:wrap;
	}

	#extratab-wrapper-icons {
		float:none;
		margin:0;	
	}
	
	.week-name {
		font-size:15px;	
		color:#aaaaaa;
		text-transform:uppercase;
		font-weight:500;
	}
	
	.submenu .week-name {
		font-size:13px;
		text-transform:none;	
		display:block;		
		margin-top:5px;
	}
	
	#extratab-footer {
		flex:1 100%;
		margin-top:20px;
		border-top:1px solid #eeeeee;
		padding-top:10px;
		font-size:14px;
		line-height:21px;
		text-align:left;
	}
	
	#extratab-footer > div,
	#extratab-footer > a {
		display:inline-block;	
		margin:0 10px 0 0;
		cursor:pointer;
		color:#444;
		text-decoration:none;
		transition:all 0.2s ease 0s;
	}
	
	#extratab-footer > div:hover,
	#extratab-footer > a:hover {
		color:#bf1005;
		text-decoration:underline;
	}
	
	
/* Addcard / Addnote Lightbox */
	/* Addcard */
	#addcard-lightbox .nav-tabs > li:nth-child(3) { 
		display:none;
	}
	
	/* Addnote */
	#addcard-lightbox.addnote-lightbox  .nav-tabs > li:nth-child(1),
	#addcard-lightbox.addnote-lightbox  .nav-tabs > li:nth-child(2) {
		display:none;	
	}
	
	#addcard-lightbox.addnote-lightbox  .nav-tabs > li:nth-child(3) { 
		display:block;
	}
	
/* Custom Menu */
	#customMenuButton:hover .customMenu-child {
		display:block;	
	}
	
	.wp-image-11992 {
		display: none;
	}
	
	
	
