body.login {
	background-image:url(../img/bg2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center 70%;
	padding:1px;
}

div#login {
	border-radius:0px;
	padding:15px;
	margin:0 auto;	
	max-width:500px;
	width:auto;
}

body.login div#login h1 a {
	background-image: url(../img/logo-square.png);
	width: 180px;
	height: 180px;
    background-size: contain;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}

.login form {
	margin-top: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;		
	background:none;	
}

.login label {
	color: #fe424d;
	font-size:16px;
	font-weight:bold;
	line-height:40px;
}	

.forgetmenot label {
	color:#444444;	
}

.wp-core-ui .button-primary {
	background: #baba24;
	border-color: #767613;
}

.login #backtoblog a, .login #nav a {
	color: #fff;
}

.login form .input, 
.login form input[type="checkbox"],
.login input[type="text"] {
	padding:5px 15px;
	border-radius:4px;
	font-weight:400;
}

.login .button-primary {
	background-color: #fe424d;	
	color: #ffffff;	
	text-align: center;	
	font-size: 15px;	
	padding: 10px 40px !important;	
	display: inline-block;	
	border-radius:0px !important;
	border:none;
	font-weight:bold;
	box-shadow:none;
	height:auto !important;
	text-shadow:none;
}

.login .button-primary.focus, 
.login .button-primary.hover, 
.login .button-primary:focus, 
.login .button-primary:hover {
	background-color: #fe424d !important;	
	color: #ffffff !important;	
}

.login #backtoblog a, 
.login #nav a {
	color:#444444;	
	font-weight:bold;
}


@media( max-width:997px ) {
	body.login {
		padding:15px 15px 0;
	}
	
	body.login div#login h1 a {
		width:auto;	
		background-size:contain;
	}
	
	div#login {
		padding:15px;
		background-color:rgba(255,255,255,0.8);
		border-radius:10px;
	}
	
	.login form {
		padding:0px 5px 20px;
	}
	
	.login #backtoblog, .login #nav {
		padding:0px;	
	}
}