/* TABS -----------------------------------*/
	.nav-tabs {
		background-color:#1aa6b7;	
		text-align:center;
		border:none;
		margin-top:-10px;      
	}
	
	.nav-tabs > li {
		display:inline-block;
		float:none;
		margin-bottom:0px;
	}

	.nav-tabs > li > a {
		border-radius: 0;
		border:none;
		color: #ffffff;
		margin:0;
		text-transform:uppercase;
		padding:15px;
	}
	
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		background:none;
		border:none;	
		color:#022d41;		
	}
	
	.nav-tabs > li > a:hover{
		background-color: #1aa6b7;
		border:none;
		color: #022d41;
	}	
	
	.tab-content {

	}
	
	.tab-pane {
		padding:70px;
		background-color:#ffffff;
	}
	
	.tabs-title {
		background-color:#1aa6b7;	
	}
	
	.tabs-title-1 {	
		color:#ffffff;
		text-align:center;
		padding-top:29px;
		padding-bottom:7px;
		padding-left:15px;
		padding-right:15px;
	}
	
	.tabs-title-2 {
		color:#ffffff;
		text-align:center;
		padding-bottom:28px;
		padding-left:15px;
		padding-right:15px;
	}
	
	.tab-pane-title {		
		color:#022d41;			
		padding-top:11px;
		padding-bottom:0px;
	}
	
	.tab-pane-subtitle {
		color:#aaaaaa;	
		margin-bottom:38px;
		line-height:30px;
	}
	
	.tab-pane-content {
		line-height:30px;
	}
	
	.tab-content {
		position:relative;	
	}
	
	.tab-navigation-left,
	.tab-navigation-right {
		position:absolute;	
		top:50%;		
		color:#eaf2d9;
		transition:all 0.2s ease 0s;
		cursor:pointer;
		margin-top:-20px;
		font-size:35px;
	}
	
	.tab-navigation-left {
		left:19px;
	}
	
	.tab-navigation-right {
		right:19px;
	}
	
	.tab-navigation-left:hover,
	.tab-navigation-right:hover {
		color:#022d41;
	}
	
	@media( max-width:997px ) {
		.tab-content {
			text-align:center;	
		}
	}
	
	@media( max-width:767px ) {
		.tab-pane {
			padding:15px;
		}
		
		.nav-tabs > li {
			display:block;	
		}
		
		.tab-navigation-left {
			left:0px;
		}
		
		.tab-navigation-right {
			right:0px;
		}
	}

/* TEXT FORMAT -----------------------------*/	

	/* Quote */
	.quote  {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	
	.quote {
	    width: 100%;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		color:#aaaaaa;
		font-size:1.2em;
		margin-top:60px;
		margin-bottom:60px;
	}
	
	.quote:before, .quote:after {
		content:"";
		display:table;	
	}
	
	.quote:after {
		clear:both;	
	}
	
	.quote-left {
		width:25px;				
		margin-left:20px;
		margin-right:10px;
		text-align:center;
		font-size:1.4em;
	}
	
	.quote-right {		
		float:right;
		width:25px;
		margin-top:-20px;
		margin-left:10px;
		margin-right:20px;
		text-align:center;
		font-size:1.4em;
	}	
	
	.quote-content {
		margin-top:-20px;
		margin-left:55px;
		margin-right:55px;
	}
	
	.quote-content > p {
		margin: 0;
		padding: 0;
		font-size: 0.9em;
		line-height:2em;
	}	
	
	/* Label */
	.format-label {
		border-radius: 0px;
		display: inline-block;
		font-weight: 800;
		letter-spacing: -1px;
	}	
	
	.format-label > p {
		margin: 0;
		padding: 0;
	}			
	
	/* Dropcaps */
	.dropcap {
		display: inline-block;
	}
	
	.dropcap:first-letter {
		float: left;
		font-size: 72px;
		font-weight: bold;
		line-height: 16px;
		margin: 5px 8px 0 0;
		padding: 5px 4px 10px 0px;
		color:#022d41;		
	}			

/* GRID ----------------------------------*/
	.showgrid {
		border: 1px solid #f0f0f0;
		text-align: center;
	}
	
	.showgrid  > div{
		border: 1px solid #f0f0f0;
	}	
	
/* CONTACT FORM 7 -------------------------*/	

	.wpcf7-form > p {
		font-family:'Open Sans', 'Lucida Grande', Arial, sans-serif;	
		font-weight:bold;
		margin-bottom:20px;
	}
	
	.wpcf7-form-control-wrap {
		margin-top:5px;	
	}
	
	input, button, select, textarea {
		transition:all 0.2s ease 0s;
		border:1px solid #eeeeee;
		border-radius:0px;
		padding:14px;
	}
	
	input[type=submit],
	input[type=button] {		
	
		height:50px;
		line-height:40px;
		background-color:#f37e1a;		
		color: #ffffff;
		border:0;
		padding:5px 60px;
		border-radius:0px;
		transition: all 0.2s ease 0s;
		text-transform:uppercase;
		font-weight:bold;
		letter-spacing:1px;
	}
	
	input[type=submit]:hover,
	input[type=button]:hover {
		background-color:#e56600;	
	}	
		
	input[type=range] {
		min-height:40px;	
		border:1px transparent;
		padding-left:0;
		padding-right:0;
	}
	
	input[type=range]:focus {
		border:none;	
	}
	
	input:focus, textarea:focus {
		border:1px solid #1aa6b7;	
		color:#444444;
	}
	
	input[type=submit]:focus {
		border:1px solid #f37e1a;	
	}
	
	.wpcf7-form .customSelectInner {
		font-weight:normal;	
	}
	
	input[type="radio"], input[type="checkbox"] {
		line-height:normal;
		margin:4px 0 0;
	}
	
	input[type="file"]{
		padding:0;
	}
	
	input[type=number] {-moz-appearance: textfield; }
	::-webkit-inner-spin-button { -webkit-appearance: none; }
	::-webkit-outer-spin-button { -webkit-appearance: none; }
	
	.customSelect {
    
    }
    .customSelect.customSelectHover {
    	
    }
    .customSelect.customSelectOpen {
    	border:2px solid #888888;
		color:#444444;
    }
    .customSelect.customSelectFocus {
    	border:2px solid #888888;
		color:#444444;
    }
    .customSelectInner {
    
    }
	
/* FLEXSLIDER -----------------------------*/
	.flex-container a:active,
	.flexslider a:active,
	.flex-container a:focus,
	.flexslider a:focus  {outline: none;}
	.slides,
	.flex-control-nav,
	.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
	
	.flexslider {margin: 0; padding: 0; overflow:hidden; }
	.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
	.flexslider .slides img {width: 100%; display: block; }
	.flex-pauseplay span {text-transform: capitalize;}
	
	.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
	html[xmlns] .slides {display: block;}
	* html .slides {height: 1%;}
	
	.no-js .slides > li:first-child {display: block;}
	
	.flexslider { /*margin: 0 0 80px;*/padding-bottom:80px; position: relative; zoom: 1; }	
	.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
	.loading .flex-viewport { max-height: 300px; }
	.flexslider .slides { zoom: 1; }
	.carousel li { margin-right: 20px; }
	.carousel ul.slides li { position:relative; overflow:hidden; }
	
	/* Direction Nav */
	.flex-direction-nav { height: 0;}
	.flex-direction-nav a  { text-align:center; background-color:#fe424d; text-decoration:none; display: block; width: 110px; height: 50px; margin: -65px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0.8; cursor: pointer; color: rgba(0,0,0,0.8); transition: all 0.35s cubic-bezier(0.13, 1.125, 0.36, 1.65) 0s; }
	.flex-direction-nav li a { color:#ffffff; }
	.flex-direction-nav .flex-prev { left: -110px; padding-left:60px; }
	.flex-direction-nav .flex-next { right: -110px; padding-right:60px; }
	.flexslider:hover .flex-prev { opacity: 0.8; left: -60px; }
	.flexslider:hover .flex-next { opacity: 0.8; right: -60px; }
	.flexslider:hover .flex-prev:hover { opacity: 1; left: -30px; }
	.flexslider:hover .flex-next:hover { opacity: 1; right: -30px; }
	.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
	.flex-direction-nav a:before  { font-family: "Glyphicons Dawn"; font-size: 1.8em; line-height:1; display: inline-block; content: '\e640'; line-height:50px; }
	.flex-direction-nav a.flex-next:before  { content: '\e641'; }
	
	/* Pause/Play */
	.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
	.flex-pauseplay a:before  { font-family: "Glyphicons Dawn"; font-size: 20px; display: inline-block; content: '\e640'; }
	.flex-pauseplay a:hover  { opacity: 1; }
	.flex-pauseplay a.flex-play:before { content: '\e641'; }
	
	/* Control Nav */
	.flex-control-nav {width: 100%; position: absolute; left:0; bottom: 20px; text-align: center;}
	.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 10px; height: 10px; display: block; border: 1px solid #fe424d; cursor: pointer; text-indent: -9999px; }
	.flex-control-paging li a:hover { background: #f5a560;  }
	.flex-control-paging li a.flex-active { background:#fe424d; cursor: default; }
	
	.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
	.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
	.flex-control-thumbs img {width: 100%; display: block; opacity: 0.7; cursor: pointer; transition: all 0.2s ease 0s;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.flex-control-thumbs img:hover {opacity: 0.9;}
	.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
	.flex-control-thumbs .flex-active:hover { opacity:1; }
	
	
	/* Control Nav Slider */
	.flexslider-thumbnail-slider-navigation-carousel li { margin-right:20px; }
	.flexslider-thumbnail-slider-navigation { margin-bottom:20px; padding-bottom:0; }
	.flexslider-thumbnail-slider-navigation-carousel .slides img {
		transition: all 0.2s ease 0s;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		opacity:0.7;
		cursor:pointer;		
	}
	.flexslider-thumbnail-slider-navigation-carousel .slides img:hover {
		opacity:0.9;	
	}
	
	.flexslider-thumbnail-slider-navigation-carousel .slides .flex-active-slide img {
		opacity:1; cursor:default;
	}
	
	.flexslider-thumbnail-slider-navigation-carousel .slides .flex-active-slide img:hover {
		opacity:1;
	}
	
	@media screen and (max-width: 860px) {
		.flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
		.flex-direction-nav .flex-next { opacity: 1; right: 10px;}
	}
	
	/* Kill Annoying Auto P */
	.flexslider p,
	.flexslider br {
		display:none;	
	}
	
	/* New Style */
	.flex-control-paging li a {
		border:1px solid #1aa6b7;
		border-radius:10px;	
	}
	
	.flex-control-paging li a.flex-active,
	.flex-control-paging li a.flex-active:hover {
		background:#1aa6b7;	
	}
	
	.flex-control-paging li a:hover {
		background:#b1f6fe;	
	}
	
	.flex-direction-nav a {
		background:#1aa6b7;	
	}
	
	.flex-direction-nav a:before  { font-family: "Jellypixel"; content: "\69"; }
	.flex-direction-nav a.flex-next:before  { content: "\6a"; }
	
/* HOMEPAGE INTRODUCTION */
	.homepage_introduction_title {
		color:#ffffff;
		letter-spacing:0.5px;
		line-height:100px;
		text-shadow:1px 1px 2px #333;
	}
	
	.homepage_introduction_content {	
		line-height:45px;
		margin-top:-9px;
		margin-bottom:29px;
	}
	
	.homepage_introduction_button .homepage_introduction_button_text {		
		color:#fe424d;
		line-height:35px;
		border:3px solid #fe424d;
		transition:all 0.2s ease 0s;
		text-align:center;
		padding:15px;
	}
	
	.homepage_introduction_button:hover .homepage_introduction_button_text {
		background-color:#fe424d;
		color:#ffffff;
	}
	
	.homepage_introduction_button:hover {
		text-decoration:none;	
	}
	
	.homepage_introduction_slogan {
		color:#888888;
		text-transform:uppercase;	
		letter-spacing:2px;
		text-align:center;
		margin-top:17px;
	}
	
	.homepage_introduction {
		margin-bottom:160px;	
		margin-top:120px;
	}
	
	.homepage_introduction h1 {
		font-weight:600;	
		margin-top:100px;
		margin-bottom:0px;
	}	
	
	.homepage_introduction h2 {
		line-height:45px;	
		margin-bottom:30px;
	}
	
	.homepage_introduction .underline {
		border-bottom:2px solid #ffea00;
		line-height:20px;
	}
	
	@media( max-width:1199px ) {
		.homepage_introduction > div:last-child {
			padding-left:40px;
		}
		
		.homepage_introduction img {
			margin-top:70px;	
		}
	}
	
	@media( max-width:997px ) {
		.homepage_introduction > div:first-child {
			padding-left:60px;
		}
		
		.homepage_introduction > div:last-child {
			padding-left:15px;
			padding-right:15px;
		}
		
		.homepage_introduction_content {	 
			margin-top:0px;
			margin-bottom:15px;
		}
		
		.homepage_introduction {
			margin-bottom:50px;	
		}
		
		.homepage_introduction img {
			margin-top:100px;	
		}
	}
	
	@media( max-width:767px ) {
		.homepage_introduction > div:first-child {
			padding-left:15px;
		}
		
		.homepage_introduction > div:last-child {
			padding-left:15px;
			padding-right:15px;
		}
		
		.homepage_introduction {
			position:relative;	
			margin-top:60px;
		}
		
		.introbottom {
			position:absolute;
			top:0;			
			width:100%;
			height:200px;	
			text-align:center;
		}
		
		.introtop {
			text-align:center;	
		}
		
		.introbottom img {
			max-height:100%;	
		}
		
		.introtop {
			padding-top:220px;
		}
		
		.homepage_introduction img {
			margin-top:0px;	
		}
		
		.homepage_introduction h1 {
			margin-top:0px;	
			font-size:25px;
			line-height:35px;
		}
		
		.homepage_introduction h2 {
			font-size:20px;
			line-height:30px;
		}
	}
	
	.homepage_introduction_video {
		background-color:#000;
		background-repeat:no-repeat;
		background-position:center;
		width:100%;
		height:300px;
		background-size:cover;
		position:relative;
		/*padding:10px;*/
		color:#00adef;
		font-size:16px;
		margin-bottom: 30px;
	}
	
	.homepage_introduction_video .vimeo_play {
		width:76px;
		height:43px;
		background-color:rgba(42,41,41,0.8);
		background-image:url(../img/vimeo_play.png);
		background-repeat:no-repeat;
		background-position:center;
		border-radius:6px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-21px;	
		margin-left:-38px;
		transition:all 0.2s ease 0s;
		cursor:pointer;
	}
	
	.homepage_introduction_video .vimeo_play:hover {
		background-color:#00adef;
	}
	
	.video_highlight_overlay {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		transition:all 0.2s ease 0s;
		background-color:rgba(0,0,0,0.5);	
		cursor:pointer;
	}
	
	.video_highlight_overlay:hover {
		background-color:transparent;	
	}
	
	.video_play {
		width:80px;
		height:80px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-40px;	
		margin-left:-40px;
		transition:all 0.2s ease 0s;		
		color:#fff;
		font-size:80px;
	}
	
	.vimeo_title {
		padding:2px 4px;	
		background-color:rgba(23,35,34,0.75);
		display:inline-block;
		font-family:"Helvetica Neue", Helvetica, Arial;
		font-size:20px;
		font-weight:700;
		color:#00adef;
	}
	
	.vimeo_iframe,
	.youtube_iframe {
		background-color:#000;	
	}
	
	.homepage_introduction_video .youtube_play {
		width:68px;
		height:48px;
		background-color:rgba(0,0,0,0.6);
		background-image:url(../img/youtube_play.png);
		background-repeat:no-repeat;
		background-position:center;
		border-radius:8px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-24px;	
		margin-left:-34px;
		transition:all 0.25s cubic-bezier(0, 0, 0.2, 1) 0s;
		cursor:pointer;
	}
	
	.homepage_introduction_video .youtube_play:hover {
		background-color: #ce1312;
		background-color: -moz-linear-gradient(top, #ce1312 0%, #e7291a 100%);
		background-color: -webkit-linear-gradient(top, #ce1312 0%,#e7291a 100%);
		background-color: linear-gradient(to bottom, #ce1312 0%,#e7291a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1312', endColorstr='#e7291a',GradientType=0 );
	}
	
	.homepage_introduction_video.onloading {
		background-image:url(../img/loader.gif);
		padding:0;
		background-size:auto;
	}
	
	.pinterest-overlay {
		width:40px;
		height:40px;
		position:absolute;
		top:20px;
		right:20px;
		cursor:pointer;
		color:rgba(255,255,255,0.2);	
		transition:all 0.2s ease 0s;
		font-size:40px;
	}
	
	.pinterest-overlay:hover,
	.pinterest-overlay:focus,
	.pinterest-overlay:active {
		color:#d01d15;
		text-decoration:none;
	}
	
/* VIDEO BUTTON */
	.video-button {
		font-size:18px;
		border:2px solid #1aa6b7;
		padding:9px 30px 3px 30px;
		text-align:center;
		display:inline-block;
		color:#022d41;	
		margin-top:11px;
		margin-bottom:40px;
		line-height:26px;
	}
	
	.video-button .tdicon-play-circle {
		float:right;	
		margin-left:9px;
		font-size:18px;
		line-height:32px;
	}
	
	.video-button:hover,
	.video-button:active,
	.video-button:focus {
		background-color:#fe424d;				
		color:#ffffff;
		text-decoration:none;
		border-color: #fe424d;
	}
	
	.video-youtube-iframe {
		background-color:#000;
	}
	
	.video-vimeo-iframe {		
		background-color:#000;
	}
	
	.video-button-wrapper {
		background-color:#000;
		background-image:url(../img/loader.gif);
		background-repeat:no-repeat;
		background-position:center;
		width:100%;
		height:300px;	
		margin-top:11px;
		margin-bottom:40px;
	}
	
	
	.home .home-howitworks iframe {width:100%; height:600px !important;}

	.home .home-howitworks .video-button-wrapper {
		height:600px;	
	}
	
/* ORANGE BUTTON */
	.orange-button {
		background-color:#fe424d;
		color:#ffffff;
		text-align:center;
		font-size:25px;
		padding:20px 40px;
		display:inline-block;			
	}
	
	.orange-button:hover,
	.orange-button:active,
	.orange-button:focus {
		text-decoration:none;
		color:#ffffff;	
	}
	
	.orange-button.bigger {
		font-size:35px;
		padding:20px 170px;	
	}
	
	.orange-button-default {
	
	}
	
	.orange-button-center {
		text-align:center;
	}
	
	.orange-button-fullwidth .orange-button {
		display:block;
		text-transform:uppercase;
		font-size:15px;
		line-height:30px;
		letter-spacing:1px;
		padding:15px 40px;
		margin-bottom:40px;
	}
	
	.orange-button-fullwidth-small .orange-button {
		display:block;
		text-transform:uppercase;
		font-size:12px;
		line-height:27px;
		letter-spacing:1px;
		padding:15px 40px;
		margin-bottom:40px;
	}
	
	@media( max-width:997px ) {
		.orange-button.bigger {
			padding:20px 100px;	
		}
	}
	
	@media( max-width:767px ) {
		.orange-button {
			padding:15px;
		}
		
		.orange-button.bigger {
			padding:40px;
			font-size:25px;
		}
	}
	
/* GENERIC */
	.generic_title {
		font-family:HollieScriptPro;
		font-size:30px;
		color:#1aa6b7;
		text-align:center;
		line-height:40px;
	}
	
	.linkbtn {
		border: 2px solid #1aa6b7;
		background-color: transparent;
		color: #1aa6b7;		
		transition:all 0.2s ease 0s;
	}
	
	.linkbtn:hover {
		background-color: #1aa6b7;
		color: #fff;		
	}	
	
/* STEPPES */
	.steppes_title {
		font-family:HollieScriptPro;
		font-size:40px;
		color:#022d41;
		text-align:center;
		margin-top:60px;
		margin-bottom:40px;	
		line-height:60px;
	}
	
	.step_wrapper {
		background-color:#ffffff;
		color:#888888;	
		padding-left:0;
		padding-right:0;
	}
	
	.step_title {
		color:#444444;
		font-size:20px;
		font-weight:700;
		padding-bottom:1px;
		padding-top:4px;		
		letter-spacing:-0.5px;
	}
	
	.step_image {
		width:100%;
		height:390px;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.step_text {
		width:100%;
		height:390px;
		padding:30px;		
	}
	
	.step_content {
		font-weight:400;
		line-height:30px;	
	}
	
	.steppes .row {
		margin-left:0;
		margin-right:0;	
	}
	
	@media( max-width:1199px ) {
		.step_title {
			font-size:18px;	
			padding-bottom:10px;
		}
		
		.step_content {
			line-height:25px;	
		}
		
		.step_text {
			padding:20px;	
		}
	}
	
	@media( max-width:997px ) {
		.step_title {
			font-size:18px;	
			font-weight:400;
			padding-bottom:10px;
		}
		
		.step_content {
			font-size:14px;
			line-height:28px;	
		}
		
		.step_text {
			/* height:500px; */
			height: 730px;
			padding:20px;	
		}
	}
	
	@media( max-width:767px ) {
		.step_text {
			height:370px; 
		}
	}
		
	
	@media( min-width:998px ) {
		.steppes .step_wrapper:nth-child(odd) {
			/*height:780px;*/
			height: 920px;	
		}
		
		.steppes .step_wrapper:nth-child(odd) .step_image {
			position:absolute;
			/*top:390px;*/
			top: 530px;
		}
	}
	
/* GREENBOX */
	.greenbox {
		border:7px solid #1aa6b7;
		padding:0 95px 50px 95px;	
		position:relative;
		margin-top:100px;
		margin-bottom:30px;
		line-height:20px;
	}
	
	.greenbox li{
		list-style: none;
	}
	
	.greenbox p {
		margin-bottom:22px;	
	}
		
	.greenbox_title {
		background-color:#fe424d;
		text-align:center;
		margin-left:170px;
		margin-right:170px;
		position:relative;
		color:#ffffff;	
		padding-top:16px;
		padding-bottom:6px;				
		transform:translateY(calc(-50% - 3px));
		line-height:57px;
	}
	
	@media( max-width:1199px ) {
		.greenbox_title {
			margin-left:80px;
			margin-right:80px;
		}
	}
	
	@media( max-width:997px ) {
		.greenbox {
			padding:0 50px 50px 50px;	
		}
		
		.greenbox_title {
			margin-left:0px;
			margin-right:0px;
		}
	}
	
	@media( max-width:767px ) {
		.greenbox {
			padding:0 15px 15px 15px;
			margin-top:110px;
		}
	}
	
	.greenbox h1,
	.greenbox h2,
	.greenbox h3,
	.greenbox h4,
	.greenbox h5,
	.greenbox h6 {
		color:#022d41;	
		margin-top:35px;
		margin-bottom:35px;
	}
	
	.greenbox blockquote {
		text-align:center;
		border:none;
		margin-top:20px;	
	}
	
/* HOMEPAGE TESTIMONAL */
	.testimonial_title {
		font-family:HollieScriptPro;
		font-size:40px;
		color:#fe424d;
		text-align:center;
		margin-top:36px;
		margin-bottom:16px;	
	}
	
	.homepage_testimonial_outer {
		height:350px;
	}

	.homepage_testimonial_inner {
		position:absolute;
		width:100%;
		height:350px;	
		background-image:url(../img/bg.jpg);
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		left:0;
		overflow:hidden;
		text-align:center;	
		padding-top:107px;
		line-height:30px;
	}

	.homepage_testimonial_inner .container {
		padding-left:170px;
		padding-right:170px;
		height:100%;
	}
	
	@media( max-width:997px ) {
		.homepage_testimonial_inner {
			padding-top:50px;	
		}
		
		.homepage_testimonial_inner .container {
			padding-left:100px;
			padding-right:100px;
		}
	}
	
	@media( max-width:767px ) {
		.homepage_testimonial_outer {
			height:450px;
		}
		
		.homepage_testimonial_inner {
			padding-top:15px;	
			height:450px;
		}
		
		.homepage_testimonial_inner .container {
			padding-left:15px;
			padding-right:15px;
		}
	}
	
	.testimonial_who {
		font-size:18px;
		font-weight:700;
		color:#1aa6b7;
		text-transform:uppercase;	
		margin-top:15px;
	}
	
/* ACCORDIONS */
	.accordions_title {
		font-family:HollieScriptPro;
		font-size:40px;
		color:#fe424d;
		text-align:center;
		margin-top:58px;
		margin-bottom:35px;	
	}
	
	.panel {
		background-color:transparent;
	}

	.panel-default {
		border: 0;	
		position:relative;	
		border-top:1px solid #dddddd;		
	}
	
	.panel-default:last-child {
		border-bottom:1px solid #dddddd;		
	}
	
	.panel-group .panel + .panel {
		margin-top:0;	
	}
	
	.panel-body {
		border: 0 !important;
	}
	
	.panel-group .panel {
		box-shadow: none;
		border-radius: 0;	
	}
	
	.panel-heading {
		padding: 0; margin: 0;
		background-color: #ffffff !important;
	}
	
	.panel-icon {
		margin: 0;
		float: left;
	}	
	
	.panel-icon.accordionclose {
		background-color: #464646 !important;
	}		
	
	.panel-icon.accordionopen {
		background-color: #1aa6b7;
	}		
		
	.panel-icon.glyphicon {
		top: 0px;
		width: 45px; height: 45px;
		text-align: center;
		line-height: 45px;
		color: #ffffff;
		font-size: 20px;
		border-right: 1px solid #e1e1e1;
	}
	
	.panel-icon.glyphicon-plus {
		padding-left:3px;	
	}
		
	.panel-default > .panel-heading {
		background-color:transparent !important;
	}
	
	.panel-heading {
		transition:all 0.2s ease-in-out 0s;	
	}
	
	.panel-heading a {
		color:#022d41;
		padding:18px 81px 18px 30px;
		text-transform:uppercase;
		display:block;
	}		
	
	.panel-heading a:hover,
	.panel-heading a:focus,
	.panel-heading a:active {
		text-decoration: none;
	}		
		
	.panel-body {
		padding:0px 81px 18px 30px;
		line-height:25px;	
	}
	
	.panel-heading .tdicon-switchplusmin {
		width:31px;
		height:31px;
		position:absolute;
		top:50%;
		margin-top:-15px;
		border:1px solid #aaaaaa;
		text-align:center;
		line-height:31px;
		color:#aaaaaa;
		right:10px;
		cursor:pointer;
		font-size:27px;
	}
		
	.panel-heading.active .tdicon-switchplusmin {
		color:#022d41;
		border-color:#022d41;
	}
	
	.panel-heading .tdicon-switchplusmin:before {
		content:"\71";	
	}
	
	.panel-heading.active .tdicon-switchplusmin:before {
		content:"\6c";	
	}
	
/* FEATURED */
	.featured_title {
		font-family:HollieScriptPro;
		font-size:40px;
		color:#fe424d;
		text-align:center;
		margin-top:58px;
		margin-bottom:28px;	
	}
	
	.featured {
		padding-bottom:58px;	
		background-color:#ffffff;
	}
	
/* HOWTO */
	.howto {
		background-color:#fff;	
		margin-bottom:20px;
		overflow:hidden;
		margin-left:0px;
		margin-right:0px;
	}
	
	.howto-video {
		padding-left:0px;	
	}
	
	.howto-title {
		font-size:20px;
		font-weight:bold;	
	}
	
	.howto-content {
		padding:20px 60px 20px 60px;
		text-align:left;	
	}
	
	.howto-content ul {
		list-style-type:none;
		padding-left:0px;	
	}
	
	.howto-content li {
		padding-left:30px;
		background-image:url(../img/tick.png);	
		background-repeat:no-repeat;
		background-position:left 6px;
	}
	
	.howto:first-of-type {
		margin-top:60px;	
	}
	
	.howto .homepage_introduction_video {
		height:350px;	
	}
	
	@media( max-width:997px ) {
		.howto-content {
			padding:20px 15px 20px 15px;
		}
	}
	
	@media( max-width:767px ) {
		.howto {
			height:auto;	
		}
		
		.howto-content {
			padding:20px 15px 20px 15px;
		}
		
		.howto-video {
			padding-right:0px;	
		}
	}
	
/* GRID */
	.og-grid {
		list-style: none;
		padding: 20px 0 100px 0;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	
	.og-grid li {
		display: inline-block;
		margin: 0 13px 60px 13px;
		vertical-align: top;
		height: 360px;
	}
	
	.og-grid li > a > img {
		max-width:360px;	
	}
	
	.og-grid li > a,
	.og-grid li > a img {
		border: none;
		outline: none;
		display: block;
		position: relative;
	}
	
	.og-grid li > a:hover,
	.og-grid li > a:focus,
	.og-grid li > a:active {
		text-decoration:none;
	}
	
	.og-grid li.og-expanded > a::after {
		top: auto;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #ddd;
		border-width: 15px;
		left: 50%;
		margin: -20px 0 0 -15px;
		z-index:2;
	}
	
	.og-expander {
		position: absolute;
		background: #ddd;
		top: auto;
		left: 0;
		width: 100%;
		margin-top: 10px;
		text-align: left;
		height: 0;
		overflow: hidden;
	}
	
	.og-expander-inner {
		padding: 95px 70px;
		height: 100%;
	}
	
	.og-close {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	
	.og-close::before,
	.og-close::after {
		content: '';
		position: absolute;
		width: 100%;
		top: 50%;
		height: 1px;
		background: #888;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.og-close::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.og-close:hover::before,
	.og-close:hover::after {
		background: #333;
	}
	
	.og-fullimg {
		width: 50%;
		float: left;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	
	.og-details {
		overflow-y:auto;
		height:100%;
		position:relative;
	}
	
	.og-details {
		padding: 0 70px 0 70px;
	}
	
	.og-fullimg {
		text-align: center;
	}
	
	.og-fullimg img {
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
	}
	
	.og-details h3 {
		/*font-weight: 300;
		font-size: 52px;
		padding: 40px 0 10px;
		margin-bottom: 10px;*/
	}
	
	.og-details p {
		/*font-weight: 400;		
		line-height: 22px;*/
		line-height:30px;
		margin-bottom:30px;
	}
	
	.og-details a {
		/*font-weight: 700;
		font-size: 16px;
		color: #333;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 10px 20px;
		border: 3px solid #333;
		display: inline-block;
		margin: 30px 0 0;
		outline: none;*/
		color:#022d41;
	}
	
	.og-details a::before {
		/*content: '\2192';
		display: inline-block;
		margin-right: 10px;*/
	}
	
	.og-details a:hover,
	.og-details a:focus,
	.og-details a:active {
		/*border-color: #999;
		color: #999;*/

	}
	
	.og-loading {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #ddd;
		box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
		-webkit-animation: loader 0.5s infinite ease-in-out both;
		-moz-animation: loader 0.5s infinite ease-in-out both;
		animation: loader 0.5s infinite ease-in-out both;
	}
	
	@-webkit-keyframes loader {
		0% { background: #ddd; }
		33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
		66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
	}
	
	@-moz-keyframes loader {
		0% { background: #ddd; }
		33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
		66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
	}
	
	@keyframes loader {
		0% { background: #ddd; }
		33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
		66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
	}
	
	@media screen and (max-width: 830px) {
	
		.og-expander h3 { font-size: 32px; }
		.og-expander p { font-size: 13px; }
		.og-expander a { font-size: 12px; }
	
	}
	
	@media screen and (max-width: 650px) {
	
		.og-fullimg { display: none; }
		.og-details { float: none; width: 100%; }
		
	}
	
	.og-name {
		text-align:center;	
		color:#022d41;
		background-color:#ffffff;
		margin-left:15px;
		margin-right:15px;
		padding:20px;	
		margin-top:-60px;
		z-index:1;
		position:relative;
		line-height:60px;
	}
	
	@media( max-width:767px ) {
		.og-grid li {
			height:250px;	
			margin:0 0 60px 0;
		}
		
		.og-grid li > a > img {
			max-width:250px;	
		}
		
		.og-expander-inner {
			padding:95px 15px;	
		}
		
		.og-details {
			padding:0 15px;	
		}
		
		.og-name {
			margin-left:5px;
			margin-right:5px;	
		}
	}

/* Subscribes Original - DO NOT DELETE */
	/*.pagesubscribe {
		text-align:center;	
	}
	
	.subscribe_wrapper {		
		text-align:center;
		margin-bottom:50px;
	}
	
	.subscribe_inner {
		background-color:#ffffff;	
	}
	
	.subscribe_title {
		width:100%;
		font-size:30px;
		font-weight:bold;
		padding-top:28px;
	}
	
	.subscribe_price {
		width:100%;
		color:#022d41;	
		margin-top:-8px;	
	}
	
	.subscribe_nominal:before {
		content:"$";	
		font-size:60px;
		font-weight:bold;
		position:absolute;
		margin-left:-45px;
		margin-top:25px;
	}
		
	.subscribe_nominal {
		font-size:130px;
		font-weight:bold;
	}
	
	.subscribe_note {
		width:100%;
		color:#022d41;
		height:42px;
		padding-bottom:22px;
		margin-top:-21px;
	}
	
	.subscribe_select {
		width:100%;
		background-color:#f37e1a;
		height:80px;		
		color:#ffffff;
		font-size:20px;
		font-weight:bold;
		line-height:80px;
	}
	
	.subscribe_select_link:hover,
	.subscribe_select_link:active,
	.subscribe_select_link:focus {
		text-decoration:none;	
	}
	
	@media( max-width:767px ) {
		.subscribe_nominal {
			font-size:100px;	
		}
		
		.subscribe_nominal:before {
			font-size:50px;
			font-weight:bold;
			position:absolute;
			margin-left:-30px;
			margin-top:17px;
		}
	}*/
	
/* Subscribes New */
	.pagesubscribe {
		text-align:center;	
	}
	
	.subscribe_wrapper {		
		text-align:center;
		margin-bottom:44px;
		margin-top:23px;
		color:#444444;
	}
	
	.subscribe_inner {
		background-color:#ffffff;	
		padding-top:38px;
 		padding-bottom:80px;
		height:100%;
		position:relative;
	}
	
	.subscribe_title {
		width:100%;
		font-size:40px;
		font-weight:bold;
		text-transform:uppercase;
		margin-top:-2px;
		margin-bottom:25px;
	}
	
	.subscribe_subtitle {
		text-transform:uppercase;
		font-size:15px;	
		margin-bottom:12px;
	}
	
	.subscribe_price {
		width:100%;
		margin-top:-10px;
		margin-bottom:11px;		
	}
	
	/*.subscribe_nominal:before {
		content:"$";	
		font-size:60px;
		font-weight:bold;
		position:absolute;
		margin-left:-45px;
		margin-top:25px;
	}*/
		
	.subscribe_nominal {
		font-size:60px;
	}
	
	.subscribe_note {
		width:100%;
		color:#aaaaaa;
		height:42px;
		margin-bottom:74px;
		font-size:15px;
	}
	
	.subscribe_content {
		text-align:left;	
		line-height:30px;
		padding-bottom:54px;
		padding-left:15px;
		padding-right:15px;
	}
	
	.subscribe_content ul,
	.subscribe_content ol {
		padding-left:25px;	
	}
	
	.subscribe_mostpopular_wrapper {
		width:100%;
		height:46px;	
		text-align:center;
		position:absolute;
		top:-23px;
	}
	
	.subscribe_mostpopular {
		display:inline-block;
		width:252px;
		height:46px;
		background-image:url(../img/mostpopular.png);
		background-position:center;
		background-repeat:no-repeat;	
	}
	
	.subscribe_select {
		width:100%;
		background-color:#f37e1a;
		height:80px;		
		color:#ffffff;
		font-size:20px;
		font-weight:bold;
		line-height:83px;
		position:absolute;
		bottom:0;
	}
	
	.subscribe_select_link:hover,
	.subscribe_select_link:active,
	.subscribe_select_link:focus {
		text-decoration:none;	
	}
	
	@media( max-width:767px ) {
		.subscribe_nominal {
			font-size:100px;	
		}
		
		.subscribe_nominal:before {
			font-size:50px;
			font-weight:bold;
			position:absolute;
			margin-left:-30px;
			margin-top:17px;
		}
	}

	
/* Centered Note */
	.centered_note {
		padding-left:100px;
		padding-right:100px;
		margin-bottom:80px;		
	}	
	
	@media( max-width:767px ) {
		.centered_note {
			padding-left:15px;
			padding-right:15px;		
		}	
	}

/* Get Started */
	.content-title {
		font-family:Open Sans;
		font-size:25px;
		font-weight:500;
		color:#fe424d;
		text-align:center;
		margin-top:70px;
		padding-bottom:20px;
		margin-bottom:0px;
		text-transform:uppercase;
	}
	
	.get_started_step {
		border-top:1px solid #dddddd;
		border-bottom:1px solid #dddddd;	
		font-family:'Open Sans';
		text-align:center;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	
	.get_started_step_title {
		color: #f37e1a;
		font-size: 40px;
		font-weight: 300;
		margin-top:20px;
		margin-bottom:10px;
	}
	
	.get_started_step_content {
		font-weight:600;	
	}
	
	.get_started_step strong {
		color:#444444;	
	}
	
	.get_started_step_link_wrapper {
		text-align:center;
		margin-top:25px;	
	}
	
	.get_started_step_link_wrapper .orange-button {
		padding:13px 40px;
		font-size:20px;
		font-weight:600;
		transition:all 0.2s ease 0s;
	}	
	
	.get_started_step_link_wrapper .orange-button:hover {
		background-color: #d76504;
	}	
	
/* MISSION */
	.mission-wrapper {
		margin: 40px 0;
	}	
	
	.mission-left img {
		width: 100%;	
	}
	
	.mission-right {
		line-height: 30px;
	}
	
	.mission-right h3 {
		margin-bottom: 30px;
	}	
	
	@media (max-width: 767px) {
		
		.mission-left {
			margin-bottom: 40px;
		}			
	}
/* TESTIMONIAL */
	.shortcode-testimonial {
		margin-bottom:60px;	
		border-bottom:5px solid #eee;
	}

	.shortcode-testimonial-wrapper {		
		padding:0 20px;
		text-align:center;
	}
	
	.shortcode-testimonial-title {
		font-size:20px;
		text-align:center;
		padding:20px 0 40px;	
	}
	
	.shortcode-testimonial-thumb {
		display:inline-block;
		width:150px;
		height:150px;
		border-radius:200px;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		margin-bottom:20px;
	}
	
	.shortcode-testimonial-content {
		color:#666;
		margin-bottom:20px;
	}
	
	.shortcode-testimonial-name {
		font-weight:bold;
	}
	
	.shortcode-testimonial-occupation {
		text-transform:uppercase;
	}
	
/* SATISFACTION */
	.shortcode-satisfaction {
		margin-bottom:60px;	
	}
	
	.shortcode-satisfaction-left {
		margin-bottom:40px;	
		text-align:center;
	}

	.shortcode-satisfaction-left img {		
		max-width:100%;
	}
	
	.shortcode-satisfaction-right {
		margin-bottom:40px;	
	}
	
	.shortcode-satisfaction-title {
		font-size:25px;
		line-height:35px;	
		margin-bottom:20px;
	}
	
	.shortcode-satisfaction-content {
		
	}
	
	@media( max-width:767px ) {
		.shortcode-satisfaction {
			text-align:center;
		}
	}