/*
	Name:		 Typography
	Description: For font related CSS
*/

/* GENERAL -----------------------------------*/

	@font-face {
		font-family: 'HollieScriptPro';
		src: url('../fonts/HollieScriptPro.eot');
		src: url('../fonts/HollieScriptPro.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/HollieScriptPro.woff2') format('woff2'),
		   url('../fonts/HollieScriptPro.woff') format('woff'),
		   url('../fonts/HollieScriptPro.ttf') format('truetype'),
		   url('../fonts/HollieScriptPro.svg#HollieScriptPro') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	body, h1, h2, h3, h4, h5, h6 {
		font-family: Lato, Montserrat, Tahoma, Arial;
		font-size:15px;		
	}
	
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	h5 {
		font-size: 15px;
	}
	
	h6 {
		font-size: 12px;
	}
	
/* HEADER ------------------------------------*/
	.navbar-default {
		font-size:14px;	 
	}
	
/* HOME --------------------------------------*/
	.home-greenbelt {
		color:#ffffff;
		font-size:20px;
		line-height:35px;
	}
	
	.howitworks_title {
		font-family:HollieScriptPro;
		font-size:40px;		
		color:#fe424d;
	}
	
	.howitworks-title {
		font-size:20px;
		color:#fe424d;
		font-weight:700;
	}
	
/* WIDGET ------------------------------------*/
	.widget-title {
		font-family:HollieScriptPro;
		color:#fe424d;
	}
	
/* SHORTCODE ---------------------------------*/
	.homepage_introduction_title {
		font-family:HollieScriptPro;
		font-size: 40px;
		line-height:60px;
	}
	
	.homepage_introduction_content {
		font-size:20px;	
	}
	
	@media( max-width:1199px ) {
		/*.homepage_introduction_title {
			font-size:60px;	
			line-height:80px;
		}*/
		.homepage_introduction_content {
			font-size:18px;	
		}
	}
	
	@media( max-width:997px ) {
		/*.homepage_introduction_title {
			font-size:54px;		
			line-height:65px;
		}*/		
		.homepage_introduction_content {
			font-size:16px;	
			line-height:34px;
			text-align:center;
		}
	}	
	
	.homepage_introduction_button .homepage_introduction_button_text {
		font-size:25px;
	}
	
	.homepage_introduction_slogan {		
		font-size:13px;		
	}
	
	.tabs-title-1 {
		font-family:HollieScriptPro;
		font-size:40px;	
	}
	
	@media( max-width:767px ) {
		.homepage_introduction_title {
			font-size:42px;		
			line-height:65px;
			padding-left:15px;
		}
		
		.homepage_introduction_button .homepage_introduction_button_text {
			font-size:20px;
		}
		
		.tabs-title-1 {
			line-height:65px;
		}
	}
	
	.nav-tabs > li > a {
		font-size:14px;
	}
	
	.tab-pane-title {
		font-size:30px;
		font-weight:bold;
	
	}
	
	.tab-pane-subtitle {
		font-size:15px;
	}
	
	.greenbox_title {
		font-family:HollieScriptPro;
		font-size:40px;	
	}
	
	.greenbox blockquote p {	
		font-size:30px;	
	}
	
/* BLOG */
	.blog-cat-title {
		font-family:HollieScriptPro;
		font-size:40px;	
	}
	
	.blog-content {
		background-color:#ffffff;	
	}
	
/* SINGLE */
	.single-meta {
		font-size:13px;
	}
	
/* AUTHOR */
	.author-name {
		font-family:HollieScriptPro;	
	}
	
/* RELATED */
	.post-related {
		font-family:HollieScriptPro;	
	}
	
/* GENERAL */
	.bubble,
	.bubble-title {
		font-family:HollieScriptPro;
		font-size:40px;	
	}
	
/* SUBSCRIBE */
	.subscribe-title {
		font-family:HollieScriptPro;
		font-size:40px;	
	}
	
/* ABOUT */
	.og-name {	
		font-family:HollieScriptPro;
		font-size:40px;
	}
	
	@media( max-width:767px ) {
		.og-name {
			font-size:35px;	
		}	
	}
	
/* CONTACT ADVISOR */
	.contactadvisor-form h1 {	
		font-family:HollieScriptPro;
		color:#fe424d;
	}
	
/* JOIN US */
	.joinus-transparent-wrapper {
		font-size:15px;
	}
	
	.joinus_title {
		font-family:HollieScriptPro;
		font-size:40px;		
		color:#fe424d;
	}
	
	.joinus-foronly {		
		font-size:20px;
	}
	
	.joinus-price {
		font-size:120px;		
	}
	
	.joinus-currency {
		font-size:60px;	
	}