/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
 
	.yamm .nav,
	.yamm .collapse,
	.yamm .dropup.yamm-fw,
	.yamm .dropdown.yamm-fw{
		position: static;
	}
	
	.yamm .container {
		position: relative;
	}
	
	.yamm .yamm-fw .dropdown-menu {
		left: auto;
	}
	
	.yamm .yamm-content {
		background-size:cover;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
		padding-top:16px;
		padding-bottom:37px;
	}
	
	.yamm .dropdown.yamm-fw .dropdown-menu {
		left: 0;
		right: 0;
		padding:0;
	}
	
	.dropdown-menu > .yamm-content > .row  {
		margin-left:0;
		margin-right:0;	
	}
	
	.dropdown-menu > .yamm-content > .row li {
		border-bottom:none;
	}
	
	.dropdown-menu > .yamm-content.has-bg > .row > li {
		border-bottom:none;	
	}
	
	.dropdown-menu > .yamm-content > .row > li a {
		padding: 11px 0px 11px 20px	
	}
	
	.dropdown-menu > .yamm-content > .row > li a:focus {
		color:#888888;
		background:none;	
	}
	
	.dropdown-menu > .yamm-content.has-bg .active > a,
	.dropdown-menu > .yamm-content.has-bg .active > a:hover,
	.dropdown-menu > .yamm-content.has-bg .active > a:focus {
		background:none;
		color:#ff9600;
	}
		
	.dropdown-menu > .yamm-content > .row > li > a,
	.dropdown-menu > .yamm-content > .row > li > a:hover,
	.dropdown-menu > .yamm-content > .row > li > a:focus {		
		background:none;
		color:#444444;
		padding:11px 0px 11px 20px;
		clear:both;
		display:block;	
		text-decoration:none;
	}
	
	.dropdown-menu > .yamm-content .dropdown-submenu > .dropdown-menu {
		margin-top:0;	
	}
		
	.dropdown-menu > .yamm-content > .row > li > a > .dropdown-arrow {
		display:none;	
	}
	
	.dropdown-menu > .yamm-content > .row > li.dropdown-submenu .dropdown-menu {
		display:block;
		background-color:transparent;
		border-radius:none;
		border:none;	
		box-shadow:none;
		position:relative;
	}
	
	.dropdown-menu > .yamm-content > .row > li.dropdown-submenu a:after {
		border:none;	
	}
	
	.dropdown-menu > .yamm-content > .row .widget {
		margin-left:15px;
		margin-right:15px;	
		margin-bottom:20px;
	}
	
	.dropdown-menu > .yamm-content > .row .widget-title {
		color:#888888;
		font-size:1.2em;
		font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
		text-transform:uppercase;
		font-weight:normal;
	}
	
	.dropdown-menu > .yamm-content > .row > li > .widget > .widget-title {
		font-size:1.4em;	
	}
	
	.yamm-content .dropdown-arrow {
		display:none;	
	}
	
	@media(max-width:767px) { /*Mobile*/  
		.yamm .dropdown.yamm-fw .dropdown-menu {
			margin-left:0;
			margin-right:0;	
		}
		
		.dropdown-menu > .yamm-content.has-bg > .row li a {
			border-bottom:none;	
		}
	}
